<md-fab-toolbar md-open="demo.isOpen" count="demo.count" md-direction="left">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="Open scene editor menu" class="md-fab md-primary">
		  <md-tooltip md-direction="left" md-autohide ng-if="!$root.appSettings.settings.showHints.val">
		    Open scene editor menu
		  </md-tooltip>
      <ng-md-icon icon="edit"></ng-md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools" ng-mouseleave="$ctrl.tooltipMsg = false">
      <md-button aria-label="New scene" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'New scene'" ng-click="$ctrl.newScene($event)">
        <ng-md-icon icon="insert_drive_file"></ng-md-icon>
      </md-button>
      <span class="fab-divider"></span>
      <md-button aria-label="New scene link" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'New scene link'" ng-click="$ctrl.addItem($event, 'sceneLinks')">
        <ng-md-icon icon="add_location"></ng-md-icon>
      </md-button>
      <md-button aria-label="photo" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'New hotspot'" ng-click="$ctrl.addItem($event, 'hotSpots')">
        <ng-md-icon icon="info_outline"></ng-md-icon>
      </md-button>
      <span class="fab-divider"></span>
      <md-button aria-label="Save draft" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'Save draft'" ng-click="$ctrl.saveDraft()">
        <ng-md-icon icon="save"></ng-md-icon>
      </md-button>

      <md-menu md-offset="0 -7">
        <md-button aria-label="Load draft" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'Load draft'" ng-click="$ctrl.checkForDraft(false);$mdOpenMenu($event)">
	        <ng-md-icon icon="folder_open"></ng-md-icon>
	      </md-button>
        <md-menu-content width="6" ng-switch="$ctrl.draftList.length">
          <md-menu-item ng-repeat="draft in $ctrl.draftList">
            <md-button ng-click="$ctrl.loadDraft(draft)" ng-attr-id="draft_{{ ::draft.updatedAt }}">{{ draft.updatedAt | date:'medium' }}</md-button>
            <md-button ng-click="$ctrl.discardDraft(draft)" class="md-icon-button md-raised md-warn" aria-label="Discard this draft" aria-labelledby="draft_{{ ::draft.updatedAt }}">
			        <ng-md-icon icon="delete" size="22"></ng-md-icon>
			      </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="$ctrl.draftList.length">
          	<span>No drafts available</span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button aria-label="Publish changes" class="md-icon-button" ng-mouseenter="$ctrl.tooltipMsg = 'Publish changes'" ng-click="$ctrl.publish()">
        <ng-md-icon icon="publish"></ng-md-icon>
      </md-button>
      <md-button ng-show="$ctrl.tooltipMsg">{{ $ctrl.tooltipMsg }}</md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>