@import 'variables';

.angular-ui-tree {
    background: $uoitgreymedium;
    padding: 5px;
    h1, h2, h3 {
        color: $uoitdarkblue;
    }
    md-input-container {
        margin-bottom: 0;
    }
}

.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.angular-ui-tree-nodes {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-node:not(:first-child) {
    padding-top: 5px;
}

@keyframes lightPulse {
    0% { opacity: 1 }
    50% { opacity: 0.5 }
}

.angular-ui-tree-placeholder {
    background: rgba($uoitlightblue, 0.3);
    border: dashed 3px rgba($uoitdarkblue, 0.5);
    animation-name: lightPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;

    background: white;
    border-top: 5px solid $uoitdarkblue;
    color: #7c9eb2;
    padding: 10px 10px;
    .md-button.md-icon-button {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
}
