/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin cover($position) {
	position: $position;
	display: flex;
	flex: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin button($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;

  box-sizing: border-box;
  user-select: none;
  position: relative; //for child absolute-positioned <canvas>
  outline: none;
  border: 0;
  align-items: center;
  background: transparent;
  white-space: nowrap;

  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: $body-font-size-base;
  font-style: inherit;
  font-variant: inherit;
  font-family: $franklin_gothic;
  text-decoration: none;

  cursor: pointer;
  overflow: hidden;   // for ink containment

  transition: box-shadow $swift-ease-out-duration $swift-ease-out-timing-function,
              background-color $swift-ease-out-duration $swift-ease-out-timing-function;

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;
    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
}

@mixin bordered-triangle($size, $border-width, $color, $border-color, $direction, $alt: false) { 
  $back-size: $size + ($border-width * 2);
  position: relative;
  
  min-width: $size;
  min-height: $size;
  
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &:after {
     @include triangle($size, $color, $direction);
  }
  
  &:before {
    @include triangle($back-size, $border-color, $direction);
    $mid-border-width: ($border-width / 2);
    $border-width-and-mid: $border-width + $mid-border-width; 
    
    @if ($alt == true) {
      $mid-border-width: 0;
      $border-width-and-mid: $border-width * 2;
    }
    
    @if ($direction == up) or ($direction == down) {
      margin-left: - $border-width;
      
      @if ($direction == down) {
        margin-top: -$mid-border-width;
      } @else {
        margin-top: - $border-width-and-mid;
      }  
    
    } @else if ($direction == right) or ($direction == left) {
      margin-top: - $border-width;
      
      @if ($direction == right) {
        margin-left: - $mid-border-width;
      } @else {
        margin-left: - $border-width-and-mid;
      }
    }
  }
  
}