/* - - - - - - - - - - - - - - - - - - - - - - - - -

  TABLE OF CONTENTS
  
  1. Global colours
  2. Header/footer colours
  3. Fonts (includes icons)
  4. Sidebar
  5. Breadcrumbs
  6. Module blocks
  7. Content
  	 - Tables

- - - - - - - - - - - - - - - - - - - - - - - - - */


// 1. Global colours
// - - - - - - - - - - - - - - - - - - - - - - - - -
 
$uoitlightblue : #0077ca;
$uoitdarkblue  : #003c71;
$uoitgrey      : #53565a;
$uoitgreylight : scale-color($uoitgrey, $lightness: 95%);
$uoitgreymedium: scale-color($uoitgrey, $lightness: 90%);
$uoitgreydark  : scale-color($uoitgrey, $lightness: -40%);

$uoitpink			 : #c71566;
$uoitgreen		 : #1a875c;
$uoitorange		 : #ce4825;

$uoitdcgrey		 : #414042;

// Faculty colours also need to be set in individual faculty main scss file for global overrides
$fbit          : #00558C;
$fed           : #4F758B;
$fesns         : #6F263D;
$feas          : #5F259F;
$fhs           : #AF272F;
$fsci          : #007749;
$fssh          : #BE4D00;
$grad				 	 : #000000;
$red					 : #a40b0b;
$emergency     : #a40b0b;

.uoitlightblue { color: $uoitlightblue; }
.uoitdarkblue { color: $uoitdarkblue; }
span.uoitgrey { color: $uoitgrey; }
span.fbit		{ color: $fbit; }
span.fed 		{ color: $fed; }
span.fesns	{ color: $fesns; }
span.feas		{ color: $feas; }
span.fhs		{ color: $fhs; }
span.fsci		{ color: $fsci; }
span.fssh		{ color: $fssh; }
span.grad		{ color: $grad; }



// 2. Header/footer colours
// - - - - - - - - - - - - - - - - - - - - - - - - -

$link_function_factor: -20%;

$header_footer_top_section: $uoitlightblue;
$header_footer_bottom_section: $uoitdarkblue;

$header_link_color: #fff;
$header_link_hover_color: scale-color($uoitdarkblue, $lightness: $link_function_factor);

$footer_link_color: #fff;
$footer_link_hover_color: scale-color($uoitdarkblue, $lightness: $link_function_factor);
$footer_link_bg_color: scale-color($header_footer_top_section, $lightness: $link_function_factor);
$footer_link_hover_bg_color: scale-color($footer_link_bg_color, $lightness: $link_function_factor); // xxsmall - small only 



// 3. Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$franklin_gothic_fsbook: "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;
$franklin_gothic_fsmedium: "franklin_gothic_fsmedium", Arial, Helvetica, sans-serif;
$franklin_gothic_fsdemi: "franklin_gothic_fsdemi", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;
$franklin_gothic_fscondensed: "franklin_gothic_fscondensed", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;
$franklin_gothic_fsMdCn: "franklin_gothic_fsMdCn", "franklin_gothic_fscondensed", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;
$uoit_icon_font: "uoit_icons";



// 4. Sidebar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$sidebar_nav_top_level_color: $uoitdarkblue;
$sidebar_nav_secondary_level_color: #757575;
$sidebar_nav_active_color: $uoitlightblue;
$sidebar_border_color: scale-color($uoitgrey, $lightness: 90%);
//$sidebar_border_color: scale-color($uoitgrey, $alpha: -90%);



// 5. Breadcrumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -

$breadcrumb_active_color: #ffffff;
$breadcrumb_inactive_color: #b5b5b5;



// 6. Module (section) blocks
// - - - - - - - - - - - - - - - - - - - - - - - - -

//$module_bg_light: scale-color($uoitgrey, $alpha: -95%);
//$module_bg_medium: scale-color($uoitgrey, $alpha: -90%);
//$module_bg_dark: scale-color($uoitgrey, $alpha: -80%);
$module_bg_light: scale-color($uoitgrey, $lightness: 95%);
$module_bg_medium: scale-color($uoitgrey, $lightness: 90%);
$module_bg_dark: scale-color($uoitgrey, $lightness: 80%);


// 7. Content
// - - - - - - - - - - - - - - - - - - - - - - - - -

//$table_border_color: scale-color($uoitgrey, $alpha: -90%);
$table_border_color: scale-color($uoitgrey, $lightness: 90%);