//
// BASE
@import 'variables';
@import 'typography';
//
// LIBS
@import 'animate';
//
// NG LIBS
@import 'angular-material';
@import 'angular-ui-tree';
@import 'loading-bar';
@import 'ng-prettyjson';
//
// COMPONENTS
@import 'components/titlebar';
@import 'components/buttonbar';
@import 'components/locationmenu';
@import 'components/configmenu';
@import 'components/scene';


// LOADING BAR AND SPINNER
#loading-bar {
	.peg {
	  height: 5px;
	  box-shadow: #0077CA 4px 0 8px 1px;
	}
	.bar {
		background: #0077CA;
	  height: 5px;
	}
}

#loading-bar-spinner {
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  .spinner-icon {
	  width: 30px;
	  height: 30px;
	  border-top-color:  #0077CA;
	  border-left-color: #0077CA;
	}
}

.badge {
	font-size: 10px;
}

.text-right {
	float: right;
}

.md-track-ticks canvas {
	left: 0;
}