@import "variables";
@import "settings";
@import "foundation";
@import "typography";

@import "pannellum";

.menu-bar.icon-top li a {
	justify-content: center;
	text-align: center;
}

.accordion-content {
	padding-top: 0;
	padding-bottom: 0;
}

.block-list, .block-list ul {
	margin-bottom: 0;
}