@import "variables";
@import "settings";
@import "foundation";
@import "typography";
@import "extends";

@import "pannellum";

// TITLE BAR
.nav-bar {
	z-index: 3;
	width: 100%;
	background: white;
	border-top: solid 5px #003c71;
	& .logo img {
		height: 50px;
		padding: 5px;
	}
	& h1 {
		font-family: $franklin_gothic_fscondensed;
		font-size:1.2rem;
		line-height:55px;
		text-align: center;
		color:#003C71;
		margin:0;
		padding: 0 1rem;
		display:inline-block;
	}
	& .inline-list {
		//display:inline-block;
		float: right;
		margin: 0;
		line-height: 55px;
		text-align: right;
		list-style: none;
		> li {
			margin: 0 0.9375rem;
		}
		> li > a {
			@extend %text_nav_primary;
			padding: 0;	
			background: #fff;
			color: $uoitgrey;
			transition: 0.15s linear;
			&:hover {
				color: $uoitlightblue;
			}
		}
	}
}
.sidebar-toggle {
	transform: scaleX(1);;
				transition: 0.3s ease-in-out;
}

.flip-x {
	transform: scaleX(-1);
				transition: 0.3s ease-in-out;
}

.pano-container {
	height:calc(100% - 60px);
	& .menu-bar {
		z-index: 3;
		width: 7rem;
		&.icon-top li a {
			justify-content: center;
			text-align: center;
		}
	}
}

// ACCORDION AND BLOCKLIST
.accordion {
	position: relative !important;
}

.accordion-content {
	padding-top: 0;
	padding-bottom: 0;
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

.accordion-title {
	@extend %text_nav_primary;
	background: -moz-linear-gradient(left,  rgba(0,60,113,0) 0%, rgba(0,60,113,0.6) 17%, rgba(0,60,113,0.6) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,60,113,0) 0%,rgba(0,60,113,0.6) 17%,rgba(0,60,113,0.6) 100%);
	background: linear-gradient(to right,  rgba(0,60,113,0) 0%,rgba(0,60,113,0.6) 17%,rgba(0,60,113,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003c71', endColorstr='#99003c71',GradientType=1 );
	border-bottom:solid 1px rgba(255,255,255,0.05);
}

.is-active > .accordion-content {
    max-height:1500px;
}

.block-list, .block-list ul {
	margin-bottom: 0;
}

.block-list.thumbs {
	a {
		position:relative;
		overflow: hidden;
		padding: 2rem;
		box-shadow: inset 200px 0 100px rgba(0,0,0,0.6);
		h4 {
			line-height: 10px;
		}
	}
	img.thumb {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		opacity: 0.8;
	}
}

// OFFCANVAS
#sidebar {
	filter: blur(px);
	right: 7rem;
	&.with-shadow {
		top: 0;
		height:calc(100% + 60px);
		padding-top: 60px;
		transition: 0.6s ease-in-out;
		&.is-active {
			box-shadow: -100px 0 100px rgba(0,0,0,0.7);
		}
	}
	&:not(.with-shadow) {
		top: 60px;
		height:calc(100% - 60px);
	}
	& h1,h2,h3,h4,h5,h6 {
		color: #fff;
	}
	> [ui-view] {
	  &.ng-enter-active, &.ng-leave-active {
	    top: 60px;
	  }
	}
}

.pnlm-compass {
	right: 0.5rem;
	bottom: auto;
	top: 0.5rem;
}

// PANORAMA
.pnlm-container {
    font-family: $franklin_gothic_fsbook;
}

.pnlm-panorama-info {
    bottom: 0.5rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0;
    padding: 0.5rem 1.25rem 0.65rem;
}

.pnlm-title-box {
    font-family: $franklin_gothic_fscondensed;
    padding-left: 0;
    margin-bottom: 0;
}

.pnlm-author-box {
    padding-left: 0;
}

// ACTION SHEET
// This is the wrapper for your button and action sheet
.sheet-dialog-container {
	position: relative;
	display: inline-block;
}
// This is the action sheet itself
.action-sheet {
	position: fixed !important;
	//transition-property: opacity;
	ul {
    li.radio-block {
	    padding: 0.8rem;
	    line-height: 1;
	    border-top: 1px solid #ccc;
	    &:hover {
			    background: #f2f2f2;
			}
			label {
				display: inline;
				padding: 0 1rem;
				input {
					margin-top: 0;
				}
			}
		}
		li.textbox-block {
	    .inline-label, label {
	    	margin: 0;
	    }
		}
		li.btn-block {
			a {
				color: white;
				background: $uoitlightblue;
		    &:hover {
				  background: scale-color($uoitlightblue, $lightness: 10%);
				}
			}
			&.cancel a {
				color: #333;
				border-radius: 0 0 4px 4px;
				background: scale-color($uoitgreylight, $lightness: -10%);
		    &:hover {
				  background: scale-color($uoitgreylight, $lightness: -20%);
				}
			}
		}
	}
}