// This is the action sheet itself
.sheet-dialog {
	$padding: 1rem;
	$color: #000;
	$border-color: #ccc;
	$background-hover: #ccc;
	// This mixin sets up styles for the mobile action sheet
	@include action-sheet(
	);
	@include breakpoint(medium-up) {
	}
	ul {
    margin: -1rem;
    margin-top: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    li.radio-block {
	    display: block;
	    padding: 0.8rem;
	    line-height: 1;
	    color: #000;
	    border-top: 1px solid #ccc;
	    &:hover {
			    background: #f2f2f2;
			}
			label {
				display: inline;
				padding: 0 1rem;
				input {
					margin-top: 0;
				}
			}
		}
		li.textbox-block {
	    display: block;
	    line-height: 1;
	    color: #000;
	    border-top: 1px solid #ccc;
	    .inline-label, label {
	    	margin: 0;
	    }
		}
		li.btn-block {
			a {
		    display: block;
		    padding: 0.8rem;
		    line-height: 1;
				color: white;
		    border-top: 1px solid #ccc;
				background: $uoitlightblue;
		    &:hover {
				  background: scale-color($uoitlightblue, $lightness: 10%);
				}
			}
			&.cancel a {
		    display: block;
		    padding: 0.8rem;
		    line-height: 1;
				color: #333;
		    border-top: 1px solid #ccc;
				background: scale-color($uoitgreylight, $lightness: -10%);
		    &:hover {
				  background: scale-color($uoitgreylight, $lightness: -20%);
				}
			}
		}
	}
}