<md-content layout-fill>
  <md-toolbar class="md-tall md-primary md-hue-3">
    <span flex></span>
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
      <md-button class="md-icon-button" aria-label="Back to locations" ng-click="Location.goBack()">
        <ng-md-icon icon="chevron_left" style="fill: #FFFFFF;"></ng-md-icon>
        <md-tooltip md-direction="left" md-autohide md-delay="1000" ng-if="!(mobile||!appSettings._USER.__SHOW_TOOLTIPS.val)" ng-click="Location.goBack()">
        	Go back to location list
      	</md-tooltip>
      </md-button>
      <h2 flex layout layout-align="end">{{ Location.Current.label }}</h2>
    </div>
  </md-toolbar>
  <md-list layout-padding>

    <md-list-item class="secondary-button" ng-repeat="scene in Location.Current.scenes">
      <p>{{::scene.name}}</p>
      <ng-md-icon icon="chevron_right"></ng-md-icon>
    </md-list-item>
    
  </md-list>
</md-content>