<div
	ng-repeat="(loc, location) in lpc.locations"
	class="location-card location-{{ ::loc }}"
	md-ink-ripple="{{ !location.active && '#003C71' }}"
	ng-click="lpc.activateLoc(loc)"
	ui-sref="buildings({location: loc})"
	ng-if="!location.hidden"
	layout="column"
	flex="100">

    	<md-subheader class="md-primary">
	    <h2
	    flex="auto">
	    	<span class="md-display-3 uoit-blue-dark">{{ location.label }} Oshawa</span><br/>
	      <span class="md-headline uoit-blue-light">campus location</span>
	    </h2>
    	</md-subheader>

  <md-content
  	flex="{{ location.active ? 100 : 0 }}"
		ng-if="!location.hidden"
  	ui-view
  	layout-fill
  	class="building-list"
  	ng-click="$event.stopPropagation()">
	</md-content>

</div>