<md-content
	class="drilldown-menu"
	ng-init="children = item.children; this.level = this.level + 1"
	layout="column"
	layout-fill
	flex>
	<div
		class="drilldown-item"
		ng-class="{ 'is-active': item.active }"
		md-ink-ripple="{{ item.active ? false : '#003C71' }}"
		ng-repeat="item in item.children track by $index"
		ng-style="item.style"
		ng-click="toggle($event, this)"
		layout="column"
		layout-align="start center"
		flex="{{ item.active && !item.hidden ? 'grow' : 'shrink' }}">
		<div 
			class="drilldown-item-content"
			ng-if="!item.hidden"
			layout="column"
			layout-padding
			flex="nogrow">

		</div>
		<ng-include ng-if="item.active" src="'drilldown/_drilldown.html'" layout layout-fill flex/>
		<!-- <flex-drilldown children="item.children"></flex-drilldown> -->
	</div>
</md-content>