@keyframes flexIn {
  from {
    flex: 1 1 0;
    min-height: 0;
  }

  to {
    flex: 1 1 100%;
    min-height: 50%;
  }
}

@keyframes flexOut {
  from {
    flex: 1 1 100%;
    min-height: 50%;
  }

  to {
    flex: 1 1 0;
    min-height: 0;
  }
}

// .building-list {
// 	background-color: transparent;
// 	display: block;
// 	md-list {
// 		background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
// 	}
// }

// .location-detail {
//   md-toolbar {
//     background-size: cover;
//     overflow: hidden;
//     h2 {
//       color: $uoitlightblue;
//       font-size: 1.5rem;
//     }
//   }
// }

.drilldown-menu md-content {
	background: none;
}

.drilldown-item {
	transition: 0.6s;
	// border: solid 2px;
	// border-left: 0;
	// border-right: 0;
	// &:first-child {
	// 	border-top: solid 4px;
	// }
	// &:last-child {
	// 	border-bottom: solid 4px;
	// }
	position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
	box-shadow: inset 0 5px 15px rgba(black, 0.05), inset 0 2px 7px rgba(black, 0.15);
	overflow: hidden;
	span {
		font-family: $franklin_gothic_condensed;
		text-transform: uppercase;
		color: white;
		z-index: 100;
	}
	&:hover span {
		transform: scale(1.05);
	}
	&::before {
		@include cover(absolute);
		transition: 0.3s;
		content: '';
		z-index: 0;
		// background-color: rgba(white, 0.3);
		background-color: rgba($uoitdarkblue, 0.6);
		// background-image: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 60%),
		// 									linear-gradient(to top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 40%);
		// background-image: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 60%),
		// 									linear-gradient(to top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 40%);
		background-image: linear-gradient(to bottom,  rgba(black,0.4) 0%, rgba(black,0) 75%);
	}
	&:not(.is-active):hover::after {
		@include cover(absolute);
		content: '';
		z-index: 0;
		background-color: rgba($uoitdarkblue, 0.15);
	}
	.ng-enter {
  	// animation: zoomInUp 0.9s;
  	// animation: fadeInUpBig 0.9s;
  	animation: fadeInUp 0.9s;
	}
	.ng-leave {
  	// animation: zoomOutDown 0.9s;
  	animation: fadeOutDown 0.9s;
	}
	&-content {
		text-align: center;
		position: relative;
		&.ng-enter {
			animation: fadeInDown 0.6s;
		}
		&.ng-leave {
			animation: fadeOutUp 0.6s;
		}
		h1,h2,h3,span {
			transition: 0.6s ease;
		}
	}
}