.user-dashboard {
	background: radial-gradient(ellipse at center, hsla(0,0%,100%,0.4) 0%,hsla(0,0%,100%,0.8) 100%);
	md-card-header {
		position: relative;
		&:not(.signin-msg) {
			background: linear-gradient(to top, hsla(0,0%,100%,1) 65%,hsla(0,0%,100%,0) 100%);
	    position: relative;
	    transform: translateY(-50%);
	    margin-bottom: -44px;
	  }
    &-text {
    	max-height: none;
    	padding-left: 16px;
    }
	}
	.md-card-image {
		height: 100px;
	}
}