<md-content layout="column" class="user-dashboard" layout-fill>

<!-- 	<md-card flex="nogrow" id="user_dashboard">
	  <img ng-src="images/north_bg.jpg" class="md-card-image" alt="image caption">

	  <md-card-header layout-align="space-around center">
	    <md-card-avatar>
	      <img class="md-user-avatar" ng-src="{{ ::user.avatar.url }}">
	    </md-card-avatar>
	    <md-card-header-text>
	      <span class="md-headline">{{ ::user.name.first }} {{ ::user.name.last }}</span>
	      <span class="md-subhead">{{ ::user.bannerId }}</span>
	    </md-card-header-text>
	  </md-card-header>

	  <md-card-actions layout="row" layout-align="start center">
	    <md-button class="md-raised md-primary">Admin</md-button>
	    <md-button class="md-raised">Log out</md-button>
	    <md-card-icon-actions>
	      <md-button class="md-icon-button md-primary" aria-label="edit profile">
	        <ng-md-icon icon="edit"></ng-md-icon>
	      </md-button>
	    </md-card-icon-actions>
	  </md-card-actions>

	  <md-card-content>
	    <p class="md-subhead">
	     Card content
	    </p>
	  </md-card-content> -->
		<ng-include src="'/dashboard'" scope="this" onload=""></ng-include>
	<!-- </md-card> -->

	<md-card flex="nogrow" id="user_settings">
  	<v-accordion class="vAccordion--default" multiple flex>
		  <!-- add expanded attribute to open the section -->
		  <v-pane expanded>
		    <v-pane-header>
  				App settings
		    </v-pane-header>
		    <v-pane-content>
					<md-list>
					  <md-list-item ng-repeat="setting in appSettings.USER">
					    <ng-md-icon icon="{{::setting.icon}}" ng-attr-style="fill: {{ setting.val? '#003c71':'#cccccc'}}" flex="nogrow"></ng-md-icon>
					    <span flex>{{ ::setting.label }}</span>
					    <md-switch class="md-primary" ng-model="setting.val" ng-change="$ctrl.syncUser()" aria-label="{{ ::setting.label }}"></md-switch>
					  </md-list-item>
					</md-list>
		    </v-pane-content>
		  </v-pane>

		  <v-pane expanded>
		    <v-pane-header>
		      Data usage
		    </v-pane-header>

		    <v-pane-content>
		    	<div layout="row" layout-padding>
						
						<label class="text-center" ng-repeat="setting in appSettings.DATA" flex>
							{{ ::setting.label }}
				    	<md-slider-container flex>
					      <h5>{{ ::setting.labels[1] }}</h5>
					      <md-slider ng-model="setting.val" step="{{::setting.step}}" min="{{::setting.min}}" max="{{::setting.max}}" aria-label="{{setting.label}}" class="md-primary" md-vertical md-discrete ng-change="$ctrl.syncData()"></md-slider>
					      <h5>{{ ::setting.labels[0] }}</h5>
					    </md-slider-container>
						</label>

			    </div>
		    </v-pane-content>
		  </v-pane>

		</v-accordion>
	</md-card>
</md-content>