<!-- <md-list>
  <md-subheader class="md-no-sticky">App settings</md-subheader>
  <md-list-item ng-repeat="setting in appSettings.USER">
    <ng-md-icon icon="{{::setting.icon}}" ng-attr-style="fill: {{ setting.val? '#003c71':'#cccccc'}}"></ng-md-icon>
    <p> &nbsp;{{ ::setting.label }} </p>
    <md-switch class="md-primary" ng-model="setting.val" ng-change="syncSettings()"></md-switch>
  </md-list-item>
  <md-subheader class="md-no-sticky">Data usage</md-subheader>
  <md-list-item layout>

      <div flex="20" layout layout-align="center center">
        <span class="md-body-1">Less</span>
      </div>
      <md-slider
      	flex
      	md-vertical
      	md-discrete
      	class="md-primary"
      	ng-model="rating1"
      	step="1" min="1" max="5"
      	aria-label="rating">
      </md-slider>
      <div flex="20" layout layout-align="center center">
        <span class="md-body-1">More</span>
      </div>

  </md-list-item>
</md-list> -->

  	<v-accordion class="vAccordion--default" multiple flex>

		  <!-- add expanded attribute to open the section -->
		  <v-pane expanded>
		    <v-pane-header>
  				App settings
		    </v-pane-header>
		    <v-pane-content>
					<md-list>
					  <md-list-item ng-repeat="setting in appSettings.USER">
					    <ng-md-icon icon="{{::setting.icon}}" ng-attr-style="fill: {{ setting.val? '#003c71':'#cccccc'}}" flex="nogrow"></ng-md-icon>
					    <span flex>{{ ::setting.label }}</span>
					    <md-switch class="md-primary" ng-model="setting.val" ng-change="syncUser()" aria-label="{{ ::setting.label }}"></md-switch>
					  </md-list-item>
					</md-list>
		    </v-pane-content>
		  </v-pane>

		  <v-pane expanded>
		    <v-pane-header>
		      Data usage
		    </v-pane-header>

		    <v-pane-content>
		    	<div layout="row" layout-padding>
						
						<label class="text-center" ng-repeat="setting in appSettings.DATA" flex>
							{{ ::setting.label }}
				    	<md-slider-container flex>
					      <h5>{{ ::setting.labels[1] }}</h5>
					      <md-slider ng-model="setting.val" step="{{::setting.step}}" min="{{::setting.min}}" max="{{::setting.max}}" aria-label="{{setting.label}}" class="md-primary" md-vertical md-discrete></md-slider>
					      <h5>{{ ::setting.labels[0] }}</h5>
					    </md-slider-container>
						</label>

			    </div>
		    </v-pane-content>
		  </v-pane>

		  <v-pane expanded>
		    <v-pane-header>
		      Administration
		    </v-pane-header>

		    <v-pane-content>
          <div layout="row" layout-fill layout-padding> 
			      <iframe src="/keystone" style="min-height:calc(100vh - 170px);width:100%;" frameborder="0"></iframe>
          </div>
		    </v-pane-content>
		  </v-pane>

		</v-accordion>