---
name: locations
url: /
animationIn: fadeIn
animationOut:  fadeOut
controller: poiController
---
  <div class="grid-content">
  	<h1>Select a location</h1>
  	<h3 class="subheader">Click the sections below to expand their contents. Choose a location within the section to view its associated media.
  	</h3>
  </div>
  <div class="grid-content collapse">
  <zf-accordion auto-open="false" multi-open="true">
    <zf-accordion-item title="Downtown">
      <section class="block-list">
        <ul>
          
          <li ng-repeat="poi in pois" class="with-chevron">
            <a ui-sref="location({ location: poi.code })">{{poi.label}} &nbsp;<span class="badge">{{poi.scenes.length}}</span></a>
          </li>

        </ul>
      </section>
    </zf-accordion-item>
  </zf-accordion>
  </div>