---
name: locations
url: /
animationIn: slideInRight
animationOut:  slideOutRight
---

<div class="grid-content" ng-init="listings = [
      {hotel: 'Business and IT Building', class: 'alert', location:'Cortona, Italy'} ,
      {hotel: 'North Oshawa Library', class: 'primary', location:'Sabi Sands, South Africa'},
      {hotel: 'Campus Tennis Centre', class: 'dark', location:'Munich, Germany'},
      {hotel: 'Simcoe Building', class: 'success', location:'Hawaii'},
      {hotel: 'Student Centre', class: 'warning', location:'Agra, India'},
      {hotel: 'University Pavillion', class: 'alert', location:'The Oriental, Bangkok'},
      {hotel: 'Best Western', class: 'alert', location:'Cortona, Italy'}
      ]">
	<h3 class="text-center">Select locations</h3>
	<h3 class="subheader">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue.
	</h3>
  <section class="block-list">
    <header>North Location</header>
    <ul>
      
      <li ng-repeat="listing in listings" class="{{listing.class}} with-chevron">
        <a href="">{{listing.hotel}} <small>{{listing.location}}</small></a>
      </li>

    </ul>
    <header>Downtown Location</header>
    <ul>
      
      <li ng-repeat="listing in listings" class="{{listing.class}} with-chevron">
        <a href="">{{listing.hotel}} <small>{{listing.location}}</small></a>
      </li>

    </ul>
  </section>
</div>


<!--   <div class="small-up-1 large-up-2" ng-repeat="listing in listings">
    <div class="{{listing.class}} card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
       {{listing.hotel}}
      </div>
      <div class="card-section">
        <h4>{{listing.location}}</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div> -->