---
name: location
url: /:location/:scene
animationIn: fadeIn
animationOut:  fadeOut
controller: poiController
---

  <div class="grid-content">
  	<h2>Location: {{location.name}}</h2>
  	<h3 class="subheader">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue.
  	</h3>
  	<section class="block-list thumbs">
			<header>Scenes</header>
			<ul>
				<li ng-repeat="scene in location.scenes"><a ui-sref="location({ location : '{{location.code}}', scene: '{{scene.code}}' })"><h4>{{scene.name}}</h4>{{scene.description}}<img ng-src="assets/img/{{location.code}}/{{scene.code}}/{{scene.code}}_thumb.jpg" class="thumb"></a></li>
			</ul>
		</section>
  </div>