---
name: map
url: /map
animationIn: fadeIn
animationOut:  fadeOut
controller: mapController
---

<div class="grid-block" style="height:100%">
	<div class="grid-content collapse" style="height:100%">

    <script type="text/ng-template" id="searchbox.tpl.html">
        <input type="text" placeholder="Search Box">
    </script>

		<ui-gmap-google-map
		         center="map.center"
		         pan="map.pan"
		         zoom="map.zoom"
		         draggable="true"
		         refresh="map.refresh"
		         options="map.options"
		         events="map.events"
		         bounds="map.bounds">
<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
		    <!-- other ui-gmap-directives here -->

		</ui-gmap-google-map>
	</div>
</div>