---
name: map
url: /map
animationIn: slideInLeft
animationOut:  slideOutRight
---
<div class="grid-content">
  <!-- Add search bar -->
  <h3 class="text-center">Campus map</h3>
  <h4>Subtitle goes here</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
</div>

<div class="grid-block shrink">
          <iframe src="http://uoit.ca/maps/embed/" frameborder="0" style="border:0;width:100%;height:445px;"></iframe>
</div>
<!-- <div class=" grid-block small-12 small-up-1 medium-up-2 large-up-3" 
    ng-init="photos = [
      {class: 'alert', location:'Cortona, Italy'} ,
      {class: 'primary', location:'Sabi Sands, South Africa'},
      {class: 'dark', location:'Munich, Germany'},
      {class: 'success', location:'Hawaii'},
      {class: 'warning', location:'Agra, India'},
      {class: 'alert', location:'The Oriental, Bangkok'},
      {class: 'none', location:'Reims, France'},
      {class: 'success', location:'Antigua'},
      {class: 'warning', location:'Budapest'},
      {class: 'alert', location:'Cape Town, South Africa'},
      {class: 'none', location:'Chiang Mai, Thailand'},
      {class: 'success', location:'Moremi Game Reserve, Botswana'},
      {class: 'warning', location:'Tanzania'},
      {class: 'alert', location:'Soufriere, St Lucia'},
      {class: 'none', location:'Zihuatanejo, Mexico'},
      {class: 'success', location:'Masai Mara, Kenya'},
      {class: 'warning', location:'Amman, Jordan'},
      {class: 'alert', location:'Cortona, Italy'}
      ]"
  >

  <div ng-repeat="photo in photos" class="grid-content">
    <div class="{{photo.class}} card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>{{photo.location}}</h4>
      </div>
    </div>
  </div> -->

<!-- </div> -->
