---
name: map
url: /map
animationIn: slideInLeft
animationOut:  slideOutRight
---

<div class="grid-content">
  <!-- Add search bar -->
  <h3 class="text-center">Campus map</h3>
  <h4>Subtitle goes here</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vitae rerum amet voluptates culpa nam, alias nobis non, dolorem eveniet consectetur dolorum dicta sint, quos earum eaque! Illo, quidem, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam animi dolore optio quam asperiores nostrum vero perspiciatis assumenda enim suscipit vel tenetur ipsa fugiat eaque voluptatibus sapiente debitis possimus, adipisci.</p>
</div>

<div class="grid-block shrink">
</div>
