<div class="md-whiteframe-16dp floating-panel" layout="column">

  <div class="md-toolbar-tools">
    <span class="md-title">{{ ::($ctrl.newItem ? 'New' : 'Edit') }} {{ ::($ctrl.item.hasOwnProperty('scene') ? 'scene link': '') }}{{ ::($ctrl.item.hasOwnProperty('parent') ? 'scene': '') }}{{ ::($ctrl.item.hasOwnProperty('content') || $ctrl.item.hasOwnProperty('feature') ? 'hotspot' : '') }}{{ ::($ctrl.item.hasOwnProperty('attrs') ? 'entity' : '') }}</span>
    <span flex></span>
    <md-button class="md-icon-button md-primary" aria-label="Cancel" ng-click="$ctrl.closeDialog()">
      <ng-md-icon icon="close" size="24"></ng-md-icon>
    </md-button>
  </div>
	<v-accordion class="vAccordion--default" multiple flex>
	  <!-- add expanded attribute to open the section -->
	  <v-pane ng-if="::($ctrl.item.hasOwnProperty('name') || $ctrl.item.hasOwnProperty('label') || $ctrl.item.hasOwnProperty('code') || $ctrl.item.hasOwnProperty('desc') || $ctrl.item.hasOwnProperty('feature'))">
	    <v-pane-header>
				Metadata
	    </v-pane-header>
	    <v-pane-content>
			  <div layout="row" layout-padding ng-if="::$ctrl.item.hasOwnProperty('name')">
			    <md-input-container flex style="margin-bottom:0;padding-bottom:0;">
			    	<label>Name</label>
			      <input type="text" flex ng-model="$ctrl.item.name" aria-label="name">
			    </md-input-container>
			  </div>
			  <div layout="row" layout-padding ng-if="::$ctrl.item.hasOwnProperty('label')">
			    <md-input-container flex style="margin-bottom:0;padding-bottom:0;">
			    	<label>Label</label>
			      <input type="text" flex ng-model="$ctrl.item.label" aria-label="label">
			    </md-input-container>
			  </div>
			  <div layout="row" layout-padding ng-if="::$ctrl.item.hasOwnProperty('code')">
			    <md-input-container flex style="margin-bottom:0;padding-bottom:0;">
			    	<label>Code</label>
			      <input type="text" flex ng-model="$ctrl.item.code" aria-label="code">
			    </md-input-container>
			  </div>
			  <div layout="column" layout-padding ng-if="::($ctrl.item.hasOwnProperty('desc') || $ctrl.item.hasOwnProperty('feature'))">
		    	<div><md-checkbox
              ng-model="$ctrl.item.linked"
              aria-label="Link to campus map feature"
              class="md-primary">
            Link to campus map feature?	
          </md-checkbox></div>
					<div ng-if="$ctrl.item.linked">
				    <md-select placeholder="Select category" ng-model="$ctrl.category" md-on-open="$ctrl.loadCategories()" ng-model-options="{trackBy: '$value._id'}" ng-change="$ctrl.onChangeCategory()">
				      <md-option ng-value="category" ng-repeat="category in $ctrl.categories track by category._id">{{::category.name}}</md-option>
				    </md-select>
				    <md-select placeholder="Select feature" ng-model="$ctrl.feature" md-on-open="$ctrl.loadFeatures()" ng-model-options="{trackBy: '$value._id'}" ng-change="$ctrl.onChangeFeature()">
				      <md-option ng-value="feature" ng-repeat="feature in $ctrl.features track by feature._id">{{::feature.properties.name}}</md-option>
				    </md-select>
				  </div>
	        <md-input-container ng-if="!$ctrl.item.linked">
	          <label>Content</label>
	          <!-- <textarea ng-model="$ctrl.item.desc" md-maxlength="250" rows="4" md-select-on-focus></textarea> -->
	          <ng-wig ng-model="$ctrl.item.desc"></ng-wig>
	        </md-input-container>
        </div>
	    </v-pane-content>
	  </v-pane>
	  <v-pane ng-if="::$ctrl.item.position.length">
	    <v-pane-header>
				Position
	    </v-pane-header>
	    <v-pane-content>
			  <div layout="row" layout-padding>
			    <md-input-container flex ng-repeat="val in ::[{label:'x',path:'M21,9L17,5V8H10V10H17V13M7,11L3,15L7,19V16H14V14H7V11Z'},{label:'z',path:'M9,3L5,7H8V14H10V7H13M16,17V10H14V17H11L15,21L19,17H16Z'},{label:'y',path:'M14.83,13.41L13.42,14.82L16.55,17.95L14.5,20H20V14.5L17.96,16.54L14.83,13.41M14.5,4L16.54,6.04L4,18.59L5.41,20L17.96,7.46L20,9.5V4M10.59,9.17L5.41,4L4,5.41L9.17,10.58L10.59,9.17Z'}] track by $index" style="margin-bottom:0;padding-bottom:0;margin-top:36px;">
			    	<label layout layout-align="space-between center"><strong>{{ ::val.label }}</strong><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" ng-attr-d="{{ ::val.path }}" /></svg></label>
			      <input type="number" min="-15" max="15" step="0.05" flex ng-model="$ctrl.item.position[$index]" to-number aria-label="position" aria-controls="scenelink-position">
			    </md-input-container>
			  </div>
	    </v-pane-content>
	  </v-pane>

	  <v-pane ng-if="::$ctrl.item.rotation.length">
	    <v-pane-header>
				Rotation
	    </v-pane-header>
	    <v-pane-content>
			  <div layout="row" layout-padding>
			    <md-input-container flex ng-repeat="val in ::[{label:'roll',path:'M17,17H7V14L3,18L7,22V19H19V13H17M7,7H17V10L21,6L17,2V5H5V11H7V7Z'},{label:'yaw',path:'M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z'},{label:'pitch',path:'M12,18.17L8.83,15L7.42,16.41L12,21L16.59,16.41L15.17,15M12,5.83L15.17,9L16.58,7.59L12,3L7.41,7.59L8.83,9L12,5.83Z'}] track by $index" style="margin-bottom:0;padding-bottom:0;margin-top:36px;">
			    	<label layout layout-align="space-between center"><strong>{{ ::val.label }}</strong><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" ng-attr-d="{{ ::val.path }}" /></svg></label>
			      <input type="number" min="-180" max="180" step="5" flex ng-model="$ctrl.item.rotation[$index]" to-number aria-label="rotation" aria-controls="scenelink-rotation">
			    </md-input-container>
			  </div>
	    </v-pane-content>
	  </v-pane>

	  <v-pane ng-if="::($ctrl.item.hasOwnProperty('scene') || $ctrl.item.hasOwnProperty('parent') || $ctrl.item.hasOwnProperty('building'))">
	    <v-pane-header>
				Link
	    </v-pane-header>
	    <v-pane-content>
			  <div layout="row" layout-padding>
			    <md-select placeholder="Select location" ng-model="$ctrl.location" md-on-open="$ctrl.loadLocations()" ng-model-options="{trackBy: '$value._id'}" ng-change="$ctrl.onChangeLocation()">
			      <md-option ng-value="location" ng-repeat="location in $ctrl.locations track by location._id">{{::location.label}}</md-option>
			    </md-select>
			    <md-select placeholder="Select building" ng-model="$ctrl.building" md-on-open="$ctrl.loadBuildings()" ng-model-options="{trackBy: '$value._id'}" ng-change="$ctrl.onChangeBuilding()">
			      <md-option ng-value="building" ng-repeat="building in $ctrl.buildings track by building._id">{{::building.label}}</md-option>
			    </md-select>
			    <md-select ng-if="$ctrl.item.hasOwnProperty('scene')" placeholder="Select scene" ng-model="$ctrl.scene" md-on-open="$ctrl.loadScenes()" ng-model-options="{trackBy: '$value._id'}" ng-change="$ctrl.onChangeScene()">
			      <md-option ng-value="scene" ng-repeat="scene in $ctrl.scenes track by scene._id">{{::scene.name}}</md-option>
			    </md-select>
			  </div>
	    </v-pane-content>
	  </v-pane>

	  <v-pane ng-if="::($ctrl.item.hasOwnProperty('attrs'))">
	    <v-pane-header>
				Attributes
	    </v-pane-header>
	    <v-pane-content>
			  <div layout="row" layout-padding>
			  	<entity-controls ng-model="$ctrl.item"></entity-controls>
			  </div>
	    </v-pane-content>
	  </v-pane>
	</v-accordion>

  <div class="md-toolbar-tools">
    <md-button class="md-warn" aria-label="Go Back" ng-click="$ctrl.removeThis()">
      {{ ::($ctrl.newItem ? 'Cancel' : 'Delete') }}
    </md-button>
    <span flex></span>
    <md-button class="md-primary" aria-label="Save draft" ng-click="$ctrl.saveDraft()">
      Save draft
    </md-button>
    <md-button class="md-raised md-primary" aria-label="Publish" ng-click="$ctrl.publish()">
      {{ ::($ctrl.newItem ? 'Add' : 'Publish') }}
    </md-button>
  </div>

</div>