.md-sidenav-backdrop {
  background-color: #003C71;
  top: 65px;
}

.md-sidenav-right {
	background-color: transparent;
	max-width: none;
	min-width: auto;
  transition: left 0.8s ease;
	top: 65px;
	.toolbar-open & {	
		width: calc(50% - 7.25rem);
    left: calc(100% - 7.25rem);
		&.map-open {
			width: calc(100% - 7.25rem);
		}
	}
	.toolbar-condensed & {
		width: calc(50% - 60px);
    left: calc(100% - 60px);
  	transition: left 0.6s cubic-bezier(1,-1,.5,1);
		&.map-open {
			width: calc(100% - 60px);
		}
	}
}

.vAccordion--default {
	background-color: rgba(white, 0.95);
}

.vAccordion--default v-pane-header {
	color: #003C71;
	position: relative;
	margin: 0;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
	padding: 16px;
	&::after, &::before {
		right: 16px;
	}
}