<md-progress-linear md-mode="determinate" class="md-hue-3" ng-if="!landscapeMobile"></md-progress-linear>

<md-toolbar class="md-accent md-hue-1 title-bar" layout="row" ng-if="!landscapeMobile"> <!-- hide show-gt-sm -->

    <md-toolbar-filler layout layout-align="left center">
      <img ng-src="https://shared.uoit.ca/global/files/img/logos/UOIT_blue_shield.png" alt="University of Ontario Institute of Technology" class="logo-shield">
    </md-toolbar-filler>

    <div class="md-toolbar-tools">
      <h1>UOIT Virtual Tour</h1>

      <span flex></span>

      <md-button ng-click="gotoScene()">
        Switcheroo!
      </md-button>

      <md-button ng-click="toggleMenu('config')" ng-class="{ 'active': isMenuOpen('config') }">
        <span hide show-gt-xs>{{ isMenuOpen('config') ? 'Disable' : 'Enable' }} editor</span>
        <ng-md-icon icon="edit" style="fill: #003c71;" hide-gt-xs></ng-md-icon>
        <md-tooltip md-direction="bottom">
          Toggle the scene builder
        </md-tooltip>
      </md-button>
      
      <md-button ng-click="toolbar.toggle()" ng-class="{ 'active': toolbar.isOpen }">
        <span hide show-gt-xs>{{ toolbar.isOpen ? 'Hide' : 'Show' }} toolbar</span>
        <ng-md-icon icon="menu" style="fill: #003c71;" hide-gt-xs></ng-md-icon>
        <md-tooltip md-direction="bottom">
          Toggle list of Virtual Tour locations
        </md-tooltip>
      </md-button>
    </div>

</md-toolbar>