<div ui-tree-handle>
  <label class="uppercase" style="line-height: 16px;"><ng-md-icon icon="code" style="fill: #0077CA" size="16"></ng-md-icon> {{ entity.type ? entity.type : 'entity' }}</label>

  <!-- <span style="font-size: 10px">{{ $modelValue }}</span> -->
<!-- 
  <div ng-repeat="attr in entity.attrs">

    <div ng-if="attr.val | isArray" layout ng-repeat="val in attr.val track by $index">
      <md-slider-container flex-grow layout>
        <md-input-container>
        <label>{{ attr.prop }}</label>
          <input string-to-number type="number" min="0" max="10" step="0.1" flex ng-model="val" aria-label="{{ attr.prop }}" aria-controls="{{entity.type ? entity.type : 'entity'}}{{nodeIndex}}_{{attr.prop}}-{{$index}}">
        </md-input-container>
        <md-slider string-to-number flex="grow" min="0" max="10" step="0.1" ng-model="val" aria-label="red" id="{{entity.type ? entity.type : 'entity'}}{{nodeIndex}}_{{attr.prop}}-{{$index}}" class="md-primary" md-discrete ng-change="bc.update(this, $modelValue, attr.prop, $index)">
        </md-slider>
      </md-slider-container>
    </div>

    <span ng-if="attr.val || '' | isString" layout>
      <md-menu layout flex="10">
        <md-button aria-label="Add new attribute" data-nodrag class="md-icon-button md-primary" ng-click="bc.openMenu($mdOpenMenu, $event)">
          <ng-md-icon icon="add_circle_outline" style="fill: #0077CA" size="20"></ng-md-icon>
          <md-tooltip>Add a new attribute to this node</md-tooltip>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-menu>
              <md-button ng-click="bc.openMenu($mdOpenMenu, $event)">New</md-button>
              <md-menu-content width="5">
                <md-menu-item>Node</md-menu-item>
                <md-menu-item>Copy node</md-menu-item>
                <md-menu-item>Child node</md-menu-item>
                <md-menu-item>Copy child node</md-menu-item>
              </md-menu-content>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-repeat="options in bc.menuOptions">
	          <md-menu>
	            <md-button ng-click="bc.openMenu($mdOpenMenu, $event)">
	              {{ options.category }}
	            </md-button>
	            <md-menu-content width="5">
	            	<md-menu-item ng-repeat="prop in options.props">
                  <label ng-if="!prop.name" class="md-body-2 uoitlightblue">{{ prop }}</label>
                  <md-menu-divider ng-if="!prop.name"></md-menu-divider>
	            		<md-button ng-click="" ng-if="prop.name">{{ prop.name }}<small class="badge text-right"><em>Default:</em> {{ prop.default }}</small></md-button>
	            	</md-menu-item>
	            </md-menu-content>
	          </md-menu>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

      <md-menu layout flex="10">
	      <md-button aria-label="Add new attribute" data-nodrag class="md-icon-button md-primary" ng-click="bc.openMenu($mdOpenMenu, $event)">
	        <ng-md-icon icon="remove_circle_outline" style="fill: red" size="20"></ng-md-icon>
          <md-tooltip>Remove this node</md-tooltip>
	      </md-button>
        <md-menu-content>
        </md-menu-content>
	    </md-menu>

      <md-input-container layout flex-grow>
        <label>Property</label>
        <input flex ng-model="attr.prop" required>
      </md-input-container>
      <md-input-container>
        <label>Value</label>
        <input flex ng-model="attr.val">
      </md-input-container>
    </span>
    
  </div>
 -->
</div>

<ul ui-tree-nodes="" ng-model="entity.entities">
  <li ng-repeat="entity in entity.entities" ui-tree-node ng-include="'partials/_renderconfig.html'" ng-init="nodeIndex = $index">
  </li>
</ul>