<div ui-tree-handle ng-init="this.showDetail = false"  md-ink-ripple="#0077CA">
  <label>
	  <ng-md-icon icon="code" style="fill: #0077CA" size="16"></ng-md-icon>
	  <span class="uppercase">{{ entity.type ? entity.type : 'entity' }}</span>
	  <span class="md-caption" ng-click="this.showDetail = !this.showDetail">
	  	{{ this.showDetail ? 'Hide' : 'Show' }} details
	  </span>
  </label>
	<md-tooltip md-direction="right" md-autohide ng-if="!this.showDetail&&!(mobile||!appSettings._USER.__SHOW_TOOLTIPS.val)">
			<span ng-repeat="(a, attr) in entity.attrs"><strong>{{a}}</strong>: {{attr}}, </span>
	</md-tooltip>
  <!-- <span style="font-size: 10px">{{ $modelValue | json }}</span> -->
	<ng-include src="'sidebar/builder/_builder-nodetree-node.html'" ng-if="this.showDetail">
	</ng-include>

</div>

<ul ui-tree-nodes="" ng-model="entity.entities">
  <li ng-repeat="entity in entity.entities" ui-tree-node ng-include="'sidebar/builder/_builder-nodetree.html'" ng-init="nodeIndex = $index">
  </li>
</ul>