

  <md-content ng-controller="builderCtrl as bc" layout="column" flex layout-fill>

<!--       <md-fab-toolbar md-open="false" count="0"
          md-direction="right">
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab md-primary">
            <ng-md-icon icon="cloud_upload" style="fill: white" size="30"></ng-md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" ng-click="bc.expandAll()">
              Expand all
            </md-button>
            <md-button aria-label="label" ng-click="bc.collapseAll()">
              Collapse all
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar> -->

<!--     <div ui-tree data-drag-delay="500" flex layout-fill>
      <ul ui-tree-nodes="" ng-model="mc.activeScene.entities" id="tree-root">
        <li ng-repeat="entity in mc.activeScene.entities" ui-tree-node ng-include="'sidebar/builder/_builder-nodetree.html'" ng-init="nodeIndex = $index">
        </li>
      </ul>
    </div> -->
    <div json-builder ng-model="mc.activeScene.entities" options="bc.editorOpts" r-flex="true" prefer-text="false" flex layout-fill></div>
  </md-content>
</md-sidenav>
<!-- 
<div class="debug-container" ng-if="isOpenConfig()">

  <pre pretty-json="mc.entities"  />
</div> -->