.debug-container {
	height: calc(100vh - 64px);
	padding-top: 150px;
	padding-bottom: 150px;
  direction:rtl; 
	overflow-y: scroll;
	position: absolute;
	top: -150px;
	left: 320px;
	margin: 0;
	background: rgba(black, 0.7);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
	box-shadow: 150px 0 300px rgba(black, 0.7);
	pre {
    direction:ltr;

	}
}