<md-content
	layout="column"
	layout-fill>
	<md-toolbar
		class="md-menu-toolbar builder-toolbar"
    flex="noshrink">
    <div layout="row">

      <md-toolbar-filler layout="column" layout-align="center center">
        <!-- <ng-md-icon icon="mode_edit" style="fill: #ffffff;"></ng-md-icon> -->
        <md-button
        	ng-disabled="!bc.changesMade"
        	ng-class="{'md-raised md-primary': bc.changesMade}"
        	ng-click="bc.publishChanges()">
        	<ng-md-icon icon="publish"></ng-md-icon>
        </md-button>
        <md-button
        	ng-disabled="!bc.changesMade"
        	ng-class="{'md-raised md-warn': bc.changesMade}"
        	ng-click="bc.revertDraft()">
        	<ng-md-icon icon="undo"></ng-md-icon>
        </md-button>
      </md-toolbar-filler>

      <div>
        <h2 class="md-toolbar-tools uppercase">Scene builder</h2>
        <md-menu-bar>
        
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="bc.menuActions.new('scene', $event)">
                  New scene
                  <span class="md-alt-text"> {{ 'M-N' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">New&hellip;</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('new:hotspot', $event)">Hotspot</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('new:scenelink', $event)">Scene link</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('new:entity', $event)">Entity</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('new:asset', $event)">Asset</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.menuActions.new('openscene', $event)">
                  Open scene
                  <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
	                <md-button ng-click="$mdOpenMenu()">
	                  Open current&hellip;
	                </md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('open:location', $event)">Location</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('open:building', $event)">Building</md-button></md-menu-item>
                    <!-- <md-menu-item><md-button ng-click="ctrl.menuActions.new('open:scene', $event)">Scene</md-button></md-menu-item> -->
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
	                <md-button ng-click="$mdOpenMenu()">
	                  Add reference
	                </md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('reference:location', $event)">Location</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('reference:building', $event)">Building</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.menuActions.new('reference:scene', $event)">Scene</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              Edit
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="undo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('undo', $event)">
                  Undo
                  <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="redo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Redo
                  <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-cut"></md-icon>
                <md-button ng-click="ctrl.sampleAction('cut', $event)">
                  Cut
                  <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-copy"></md-icon>
                <md-button ng-click="ctrl.sampleAction('copy', $event)">
                  Copy
                  <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-paste"></md-icon>
                <md-button ng-click="ctrl.sampleAction('paste', $event)">
                  Paste
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                  Find and replace...
                  <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

          <md-menu>
            <button ng-click="$mdOpenMenu()">
              View
            </button>
            <md-menu-content>
              <md-menu-item type="checkbox" ng-model="builder.show.Entities">Entities</md-menu-item>
              <md-menu-item type="checkbox" ng-model="builder.show.Assets">Assets</md-menu-item>
              <md-menu-item type="checkbox" ng-model="builder.show.Scenelinks">Scenelinks</md-menu-item>
              <md-menu-item type="checkbox" ng-model="builder.show.Hotspots">Hotspots</md-menu-item>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Mode</md-button>
                  <md-menu-content width="3">
                    <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>
                    <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'edit'">Edit</md-menu-item>
                    <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'modifiable'">Modifiable</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.showRuler">Show ruler</md-menu-item>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.showEquationToolbar">Show equation toolbar</md-menu-item>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.showSpellingSuggestions">Show spelling suggestions</md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.compactControls">Compact controls</md-menu-item>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen">Full screen</md-menu-item>
            </md-menu-content>
          </md-menu>
					<!--
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              Format
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('bold', $event)">
                  Bold
                  <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('italic', $event)">
                  Italic
                  <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('underline', $event)">
                  Underline
                  <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('strikethrough', $event)">
                  Strikethrough
                  <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('superscript', $event)">
                  Superscript
                  <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('subscript', $event)">
                  Subscript
                  <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item><md-button ng-click="ctrl.toggleSetting('clearFormatting')">Clear Formatting</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
					-->          
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>

<!--       <md-fab-toolbar md-open="false" count="0"
          md-direction="right">
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab md-primary">
            <ng-md-icon icon="cloud_upload" style="fill: white" size="30"></ng-md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" ng-click="bc.expandAll()">
              Expand all
            </md-button>
            <md-button aria-label="label" ng-click="bc.collapseAll()">
              Collapse all
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar> -->

<!--     <div ui-tree data-drag-delay="500" flex layout-fill>
      <ul ui-tree-nodes="" ng-model="mc.activeScene.entities" id="tree-root">
        <li ng-repeat="entity in mc.activeScene.entities" ui-tree-node ng-include="'sidebar/builder/_builder-nodetree.html'" ng-init="nodeIndex = $index">
        </li>
      </ul>
    </div> -->
    <div 
    	json-editor
    	ng-model="bc.currentData"
    	options="bc.editorDefaults"
    	r-flex="true"
    	prefer-text="false"
    	flex="grow">
    </div>
  </md-content>
<!-- 
<div class="debug-container" ng-if="isOpenConfig()">

  <pre pretty-json="mc.entities"  />
</div> -->