<!doctype html>
<html class="no-js">
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title 
      	ncy-breadcrumb-last="{{ ncyBreadcrumbLabel ? ncyBreadcrumbLabel +' | ' : null }}UOIT Virtual Tour">
			</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/main.css">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Z_tA7YdsRXkHdThiC-VA0dvwX6a4Kto"></script>
  </head>
  <body
  	ng-controller="MainCtrl as mc"
  	layout="column"
  	layout-fill
  	ng-cloak>
      <div flex layout="column" layout-fill style="position:absolute;">
	      <title-bar title="Virtual Tour" mobile="mc.mobile" flex="nogrow">
		      <title-bar-button
		      	ng-repeat="(o, option) in mc.titlebar.options"
		      	on-click="mc.titlebar.clickHandlers[o]()"
		      	active="option.active"
		      	icon="option.icon"
		      	tooltip="option.tooltip">
		      </title-bar-button>
	      </title-bar>
	      <div 
	      	ng-class="{ 'toolbar-open' : mc.toolbar.isOpen&&!landscapeMobile, 'toolbar-condensed': mc.toolbar.isCondensed }"
	      	layout="row"
	      	layout-align="end start"
	      	flex="grow">
		      <button-bar
						layout="column"
	      		items="mc.toolbar.views"
	      		open="mc.toolbar.isOpen"
	      		condensed="mc.toolbar.isCondensed"
		      	mobile="mc.mobile">
	      	</button-bar>
	      </div>
      </div>
      <div 
      	ng-class="{ 'toolbar-open' : mc.toolbar.isOpen&&!landscapeMobile, 'toolbar-condensed': mc.toolbar.isCondensed }"
      	layout="row"
      	flex>
				<md-sidenav
				  ui-view
				  class="md-sidenav-right"
				  ng-class="{ 'map-open' : ('map' | isState), 'is-mobile': mc.mobile.screen, 'is-landscape': mc.mobile.landscape }"
				  md-component-id="right"
				  md-disable-backdrop
				  md-whiteframe="4"
				  flex>
				</md-sidenav>
<!-- 
				<md-sidenav
				  class="md-sidenav-left"
				  md-component-id="config"
				  md-disable-backdrop
				  md-whiteframe="4"
				  style="max-width: none;width: auto;">
				  <div resizable r-directions="['right']" style="min-width:400px;" flex layout-fill>
				  	<scene-builder scene-data="mc.activeScene"></scene-builder>
				  </div>
				</md-sidenav>
-->
      	<section
      		flex="grow"
      		layout="column"
      		layout-fill
      		id="scene-view"
      		class="scene-view"
				  ng-class="{ 'map-open' : ('map' | isState) }">
      		<aframe-scene default-scene="north_ext_3h" scene="mc.activeScene" ng-if="mc.activeScene.sky"></aframe-scene>
      	</section>
      </div>
    <script src="js/main.js"></script>
  </body>

</html>