//
// BASE
@import 'styles/variables';
@import 'styles/typography';
@import 'styles/mixins';


//
// LIBS
@import 'styles/libs/animate';

$button-left-right-padding: 16px;
$button-border-radius: 0;

// $checkbox-border-radius: 1px;
// $checkbox-border-width: 1px;

//
// NG LIBS
@import 'styles/libs/angular-material';
@import 'styles/libs/angular-resizable';
@import 'styles/libs/v-accordion';
@import 'styles/libs/loading-bar';
@import 'styles/libs/nz-tour';


//
// COMPONENTS
@import 'components/titlebar/titlebar';
@import 'components/buttonbar/buttonbar';

@import 'components/sidebar/sidebar';
	@import 'components/sidebar/drilldown/drilldown';
	@import 'components/sidebar/builder/builder';
		@import 'components/sidebar/builder/jsoneditor/jsoneditor';
	@import 'components/sidebar/map/map';


@import 'components/aframe/scene/scene';

@import 'components/welcome/welcome';

// LOADING BAR AND SPINNER
#loading-bar {
	.peg {
	  height: 5px;
	  box-shadow: #0077CA 4px 0 8px 1px;
	}
	.bar {
		background: #0077CA;
	  height: 5px;
	}
}

#loading-bar-spinner {
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  .spinner-icon {
	  width: 30px;
	  height: 30px;
	  border-top-color:  #0077CA;
	  border-left-color: #0077CA;
	}
}

.error-message {
	max-width: 650px;
	md-tabs-wrapper {
		display: none;
	}
	md-select {
		margin: 0;
	}
	md-content {
		h2 {
			margin-top: 16px;
			margin-bottom: 0px;
		}
		p {
			margin-bottom: 32px;
		}
	}
	.md-list-item-text:not(:last-child) {
		padding-right: 32px;
	}
}

.float-right {
	float: right;
}

.badge {
	font-size: 10px;
}

.md-track-ticks canvas {
	left: 0;
}

.md-button, .md-tab {
  font-weight: 700;
}

.md-input-invalid::after {
	position: absolute;
	color: rgb(221,44,0);
	content: 'Invalid!';
	font-family: $font-family;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	bottom: 18px;
}