<md-content layout="column" layout-align="start center" class="user-dashboard" layout-fill>

	<md-card id="user_dashboard" layout="column" layout-align="center center" flex="noshrink" ng-if="!$ctrl.isLoggedIn()">
	  <md-card-header layout-align="space-around center" class="signin-msg">
	    <md-card-content layout="column">
	      <p class="md-headline"><strong>Sign in or register</strong> to save your user preferences permanently!</p>
	      <p class="md-subtitle">Preferences will still be saved without a user but will be limited to your browser session.</p>
	      <md-button ng-click="$ctrl.promptLogin()" class="md-raised md-primary" md-autofocus="!$ctrl.isLoggedIn()">Sign in</md-button>
	      <md-button href="/keystone/signin" target="_self" class="md-primary">Register</md-button>
	    </md-card-content>
	  </md-card-header>
	</md-card>

	<md-card id="user_dashboard" flex="none" ng-if="$ctrl.isLoggedIn()">
		<img src="assets/images/north_bg.jpg" alt="" class="md-card-image" />
	  <md-card-header layout-align="space-around center">
	    <md-card-avatar><img ng-src="{{ $ctrl.user.avatar.secure_url }}" class="md-user-avatar"/></md-card-avatar>
	    <md-card-header-text><span class="md-headline">{{ [$ctrl.user.name.first, $ctrl.user.name.last].join(' ') }}</span><span class="md-subhead">{{ $ctrl.user.bannerId }}</span></md-card-header-text>
	  </md-card-header>
	  <md-card-actions layout="row" layout-align="start center">
      <md-button aria-label="go to admin" class="md-primary md-raised" ng-if="$ctrl.user.isAdmin || $ctrl.user.isEditor" href='/keystone', target='_self'>
        Admin
      </md-button>
	    <md-button ng-click="$ctrl.logout()" class="md-raised">Sign out</md-button>
	    <md-card-icon-actions>
	      <md-button aria-label="edit profile" class="md-icon-button md-primary" md-autofocus="$ctrl.isLoggedIn()">
	        <ng-md-icon icon="edit"></ng-md-icon>
	      </md-button>
	    </md-card-icon-actions>
	  </md-card-actions>
	</md-card>

	<md-card flex="nogrow" id="user_settings">
  	<v-accordion class="vAccordion--default" multiple flex control="accordion">
		  <!-- add expanded attribute to open the section -->
		  <v-pane>
		    <v-pane-header>
  				App settings
		    </v-pane-header>
		    <v-pane-content>
					<md-list>
					  <md-list-item ng-repeat="(key, setting) in $ctrl.settings">
					    <ng-md-icon icon="{{::setting.icon}}" ng-attr-style="fill: {{ setting.val? '#003c71':'#cccccc'}}" flex="nogrow"></ng-md-icon>
					    <span flex>{{ ::setting.label }}</span>
					    <md-switch class="md-primary" ng-model="$ctrl.settings[key].val" ng-change="$ctrl.updateSettings()" aria-label="{{ ::setting.label }}"></md-switch>
					  </md-list-item>
					</md-list>
		    </v-pane-content>
		  </v-pane>

		  <v-pane>
		    <v-pane-header>
		      Data usage
		    </v-pane-header>

		    <v-pane-content>
		    	<div layout="column" layout-padding>
						<span class="md-subhead">
							<strong>Current:</strong>
							<span class="md-caption">
								<strong>{{ $ctrl.usageLevel[0] }} image quality</strong> with <strong>{{ $ctrl.usageLevel[1] }} load time</strong> and <strong>{{ $ctrl.usageLevel[2] }} data consumption</strong> 
							</span>
						</span>
						<md-divider></md-divider>
						<label ng-repeat="(key, setting) in $ctrl.usage" flex>
					    <md-checkbox ng-if="key === 'auto'" class="md-primary" ng-model="setting.val" ng-change="$ctrl.detectConnection()" aria-label="Auto-detect optimum settings" ng-disabled="$ctrl.connection.loading">
		            <div layout="row" layout-align="space-between stretch">
		            	<span flex="noshrink">{{ $ctrl.connection.loading ? 'Detecting network...' : 'Auto-detect optimum settings'; }}</span>
		            	<span flex="grow"></span>
		            	<md-progress-circular md-mode="indeterminate" md-diameter="16" ng-show="$ctrl.connection.loading"></md-progress-circular>
		            </div>
		          </md-checkbox>
							{{ ::setting.label }}<br/>
				    	<md-slider-container flex ng-if="key !== 'auto'" ng-disabled="$ctrl.usage.auto.val">
					      <h5>{{ ::setting.labels[0] }}</h5>
					      <md-slider ng-model="setting.val" step="{{::setting.step}}" min="{{::setting.min}}" max="{{::setting.max}}" aria-label="{{setting.label}}" class="md-primary" md-discrete ng-change="$ctrl.updateUsage()"></md-slider>
					      <h5>{{ ::setting.labels[1] }}</h5>
					    </md-slider-container>
						</label>

			    </div>

		    </v-pane-content>
		  </v-pane>

		</v-accordion>
	</md-card>
</md-content>