.a-enter-vr {
  transition: 0.6s ease;
}

.toolbar-open {
  .a-enter-vr {
    transform: translateX(-7.25rem);
  }
}

.toolbar-condensed.toolbar-open {
  .a-enter-vr {
    transform: translateX(-60px);
  }
}
button-bar {
  height: 100%;
  z-index: 99;
}
aside.button-bar {
  width: 7.25rem;
  background: rgba($uoitgreydark,0.95);
  transition: 0.6s ease;
  .button-bar-btn {
  	@include button(0, 0);
  	width: 100%;
  	border-top: solid 1px rgba(white,0.05);
    color: rgba(white, 0.8);
    line-height: 1.15;
    ng-md-icon {
    	margin: 0;
    	fill: rgba(white, 0.7) !important;
    }
    span {
      display: block;
      margin-top: 0.75rem;
    }
    &:first-child {
  		border-top-width: 0;
    }
    &:hover {
    	// border: 0;
    	// box-shadow: 0 0 15px rgba(black, 0.2);
    	background-color: rgba($uoitlightblue, 0.05);
    	color: white;
	    ng-md-icon {
	    	fill: white !important;
	    }
    }
    &.is-active {
    	border-right: solid 3px $uoitlightblue;
    	transition: border-right 0.1s ease;
    	background-color: rgba(white, 0.1);
    	color: lighten($uoitlightblue, 25%);
	    ng-md-icon {
	    	fill: lighten($uoitlightblue, 25%) !important;
	    }
    }
  }
  &.collapsed {
  	transition: 0.6s cubic-bezier(1,-1,.5,1);
  	width: 60px; //3.75rem;
  	padding-top: 50vh;
  	.button-bar-btn {
	    &:first-child {
	  		border-top-width: 1px;
	    }
	  	span {
	  		display: none;
	  	}
  	}
  }
  &.ng-enter {
    animation: slideInRight 0.6s;
  }
  &.ng-leave {
    animation: slideOutRight 0.6s;
  }
}
