<aside
	class="button-bar"
	ng-class="{'collapsed': $ctrl.condensed || $ctrl.mobile.screen}"
	ng-if="$ctrl.open&&!($ctrl.mobile.landscape&&$ctrl.mobile.screen)"
	md-whiteframe="2"
	layout="column"
	layout-align="end end"
	flex="grow">
	<div ng-repeat="(v,view) in ::$ctrl.items"
		class="button-bar-btn"
		ng-class="{ 'is-active': $ctrl.menuOpen && (v | isState)}"
		layout="column"
		layout-align="center center"
		flex="grow"
  	ng-click="$ctrl.toggleMenu('right', v)"
  	md-ink-ripple="#0077CA"
  	id="{{::v}}">
  	<ng-md-icon icon="{{ ::view.icon }}" style="fill: #ffffff;"></ng-md-icon>
    <span ng-bind="::view.label"></span>
    <md-tooltip md-direction="left" md-autohide md-delay="$ctrl.condensed ? 0 : 750" ng-if="!(mobile||!$ctrl.showHints())">
      {{ $ctrl.condensed ? view.label : view.desc }}
    </md-tooltip>
  </div>
</aside>