<div class="search-bar" layout="column" layout-fill>

	<div layout="column" layout-align="center center" layout-margin layout-padding flex>
<!-- 	  <md-input-container md-no-float class="md-block md-icon-left">
			<ng-md-icon icon="search" size="24"></ng-md-icon>
			<input ng-model="$ctrl.query" aria-label="Search the Virtual Tour" id="search_q">
		</md-input-container> -->
		<label for="search_q">I'm looking for things with</label>
		<div layout="row" layout-align="space-between center">
			<ng-md-icon class="search-icon" icon="search" size="24" ng-class="{ 'active': searchActive }"></ng-md-icon>
			<form ng-submit="$event.preventDefault()" class="search-form" flex="shrink">
				<md-autocomplete
						md-search-text="$ctrl.searchText"
						md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
						md-items="item in $ctrl.querySearch($ctrl.searchText)"
						md-item-text="item"
						md-selected-item="$ctrl.selectedItem"
						md-selected-item-change="$ctrl.selectedItemChange(item)"
						md-min-length="2"
						md-no-cache
						placeholder="charles st"
						md-menu-class="search-results"
						md-autofocus
						ng-focus="searchActive = true"
						ng-blur="searchActive = false"
						flex>
						<md-item-template>
							<span md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">{{ item }}</span>
						</md-item-template> 
					<!-- <md-item-template>
						<span class="md-headline" md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">{{ item.name }}</span><br/>
						<span class="md-caption">{{ item.parent.name }}</span><
						<span class="md-subhead" ng-bind-html="item.desc" md-highlight-text="$ctrl.searchText"></span>
					</md-item-template> -->
				</md-autocomplete>
			</form>
		</div>
		<div layout="row" layout-wrap class="search-filters">
			<div layout="row" layout-align="space-between center">
				<label flex="noshrink">within the</label>
				<md-input-container>
					<md-select ng-model="$ctrl.filters.in"
						id="search_filter"
						aria-label="filter - search in"
						multiple
						flex="shrink">
							<md-option ng-value="type.value" ng-repeat="type in ::$ctrl.typeFilters">{{type.label}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="space-between center">
				<label flex="noshrink">for all</label>
				<md-input-container>
					<md-select ng-model="$ctrl.filters.for"
						id="search_filter"
						aria-label="filter - search for"
						multiple
						flex="shrink">
						<md-optgroup label="Virtual Tour" ng-show="!$ctrl.filters.in.length || $ctrl.filters.in.includes('tour')">
							<md-option ng-value="type.value" ng-repeat="type in ::$ctrl.modelFilters.tour">{{type.label}}</md-option>
						</md-optgroup>
						<md-optgroup label="Campus Map" ng-show="!$ctrl.filters.in.length || $ctrl.filters.in.includes('map')">
							<md-option ng-value="type.value" ng-repeat="type in ::$ctrl.modelFilters.map">{{type.label}}</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="space-between center">
				<label flex="noshrink">by their</label>
				<md-input-container>
						<md-select ng-model="$ctrl.filters.by"
											 aria-label="filter - search by"
											 multiple
											 flex="shrink">
							<!-- <md-optgroup label="Virtual tour" ng-repeat="type in ::$ctrl.typeFilters">
								<md-option ng-value="::type.value">{{::type.label}}</md-option>
							</md-optgroup> -->
							<!-- <md-optgroup label="Campus map"> -->
								<md-option ng-value="::field.value" ng-repeat="field in ::$ctrl.fieldFilters">{{::field.label}}</md-option>
							<!-- </md-optgroup> -->
						</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
	<md-content layout="column" layout-align="start center" layout-margin layout-padding class="search-results" flex="60">
	
		<span class="md-headline" ng-show="!$ctrl.searchResults">No results found<span ng-show="$ctrl.searchText"> matching "<em>{{ $ctrl.searchText }}</em>"</span>!</span>

		<md-list>
			<md-subheader class="md-no-sticky" ng-repeat-start="(type, results) in $ctrl.searchResults"><ng-md-icon class="search-icon" icon="chevron_right" size="14" style="width: 16px; height: 16px;"></ng-md-icon> {{ ::type }}</md-subheader>
      <md-list-item class="md-3-line" ng-repeat-start="item in results" ng-click="$ctrl.goToResult(type, item)">
        <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
        <div class="md-list-item-text" layout="column">
          <h3><strong>{{ ::item.name }}</strong><span ng-if="::item.parent.parent.name">, {{::item.parent.name}}</span></h3>
          <h4>{{ ::(item.parent.parent.name || item.parent.name) }}</h4>
          <span ng-bind-html="::item.desc | limitTo:150" ng-class="{ 'truncated-text': (item.desc.length >= 100) }"></span>
        </div>
      </md-list-item>
			<md-divider ng-repeat-end></md-divider>
			<span ng-repeat-end></span>
		</md-list>

	</md-content>
	
</div>