/* MAIN TITLEBAR STYLES */
.title-bar {
	// min-height: 65px;
	border-top: solid 5px $uoitdarkblue;
	width: 100%;
	z-index: 100;
	.logo-shield {
		height: 36px;
	}
	.md-toolbar-tools {
		color: $uoitdarkblue;
		font-family: $font-family-display;
		text-transform: uppercase;
		padding: 0;
		height: auto;
	}
	// MOBILE OVERWRITES
	&.is-mobile {
		position: fixed;
		md-toolbar-filler {
			width: 48px;
		}
		min-height: 48px;
		background: linear-gradient(to bottom, hsla(0,0%,0%,0.65) 0%,hsla(0,0%,0%,0) 100%) !important;
		border-top: 0;
		.md-toolbar-tools {
			color: white;
		}
		.md-button.menu-button {
			margin: 0;
	    min-width: 0;
			height: 60px;
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}

title-bar-button {
	&.bg-orange {
		margin-right: 14px;
	}
	.md-button.menu-button {
		font-family: $font-family-bold;
	}
	.md-button.icon-button {
		margin: 0;
    min-width: 0;
		height: 64px;
		padding-left: 18px;
		padding-right: 18px;
		border-left: solid 3px white;
		&.active {
			box-shadow: inset 0 -3px 0 $uoitlightblue;
		}
	}
	.md-button.cta-button {
			box-shadow: none !important;
		ng-md-icon {
			margin-right: 0.5rem;
		}
		// SOME COLOUR LOGIC: LOOP THROUGH BG COLOURS
		$uoit-colors-list: pink orange green;
		$uoit-colors: $uoitpink $uoitorange $uoitgreen;
		@for $i from 1 through length($uoit-colors-list) {
	    &.bg-#{nth($uoit-colors-list, $i)} {
	    	color: nth($uoit-colors, $i) !important;
	    	&.active {
			    box-shadow: inset 0 -3px 0 nth($uoit-colors, $i);
	    	}
		  }
		}
	}
}

.breadcrumbs {
	// height: 100%;
	.md-button {
		margin: 0;
		color: $uoitgrey !important;
		font-family: $font-family-display;
		font-weight: 400;
		line-height: 65px;
		overflow: visible;
		height: 100%;
		padding-left: 40px;
		padding-right: 30px;
		margin-left: -20px;
	  &.ng-enter {
	    animation: fadeInLeft 0.6s;
	  }
	  &.ng-leave {
	    animation: fadeOutLeft 0.6s;
	  }
		// ::PSEUDO
		&:first-child {
			margin-left: 10px;
		}
		&::after, &::before {
			transition: border-color 0.5s cubic-bezier(0.35, 0, 0.25, 1);
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			border-style: solid;
			border-width: 30px 0 30px 20px;
			border-color: transparent;
		}
		&::after {
			right: 0;
			border-color: white white white transparent;
		}
		&::before {
			z-index: 100000;
			left: 0;
		}
		// :STATE
		&:hover::before, &:focus::before {
			border-color: transparent transparent transparent white;
		}
	}
	// MOBILE OVERWRITES
	.is-mobile & {
		display: none;
	}
}