<md-toolbar class="md-accent md-hue-1 title-bar" layout="row" ng-if="mobile!='landscape'"> <!-- hide show-gt-sm -->

    <md-toolbar-filler layout layout-align="left center">
      <img ui-sref="locations" ng-src="https://shared.uoit.ca/global/files/img/logos/UOIT_blue_shield.png" alt="University of Ontario Institute of Technology" class="logo-shield">
    </md-toolbar-filler>

    <div class="md-toolbar-tools">
      <h1 ui-sref="locations">{{::tb.title}}</h1>

      <div ncy-breadcrumb></div>

      <span flex></span>
      <ng-transclude></ng-transclude>
<!--       <md-button
      	class="icon-button"
      	ng-repeat="opt in tb.options"
      	ng-click="tb.onClick(opt.id)"
      	ng-class="{ 'active': opt.active }"
      	aria-label="{{ ::opt.label }}">
        <ng-md-icon
        	icon="{{ opt.active ? (opt.icon[0] || opt.icon) : (opt.icon[1] || opt.icon) }}"
        	style="fill: #003c71;">
        </ng-md-icon>
        <md-tooltip md-direction="bottom" md-autohide ng-if="!(mc.mobile||!mc.appSettings._USER.__SHOW_TOOLTIPS.val)">
          {{ opt.active ? (opt.tooltip[0] || opt.tooltip) : (opt.tooltip[1] || opt.tooltip) }}
        </md-tooltip>

      </md-button> -->

<!--      <md-button class="icon-button" ng-click="mc.toolbar.toggle('config')" ng-class="{ 'active': isMenuOpen('config') }" aria-label="Scene builder">
        <ng-md-icon icon="edit" style="fill: #003c71;"></ng-md-icon>
        <md-tooltip md-direction="bottom" md-autohide ng-if="!(mobile||!appSettings._USER.__SHOW_TOOLTIPS.val)">
          Toggle the scene builder
        </md-tooltip>

      </md-button>

 			<md-button class="icon-button" ng-click="mc.toolbar.condense()" ng-class="{'active': !mc.toolbar.isCondensed}" aria-label="Toolbar size">
        <ng-md-icon icon="{{ mc.toolbar.isCondensed ? 'flip_to_front' : 'flip_to_back'}}" style="fill: #003c71;"></ng-md-icon>
        <md-tooltip md-direction="bottom" md-autohide ng-if="!(mobile||!appSettings._USER.__SHOW_TOOLTIPS.val)">
          {{ mc.toolbar.isCondensed ? 'Expand' : 'Condense'}} toolbar
        </md-tooltip>
      </md-button>
      
      <md-button class="icon-button" ng-click="mc.toolbar.toggle('right')" ng-class="{ 'active': mc.toolbar.isOpen }" aria-label="Toolbar visibility">
        <ng-md-icon icon="{{ mc.toolbar.isOpen ? 'last_page' : 'first_page'}}" style="fill: #003c71;""></ng-md-icon>
        <md-tooltip md-direction="bottom" md-autohide ng-if="!(mobile||!appSettings._USER.__SHOW_TOOLTIPS.val)">
          {{ mc.toolbar.isOpen ? 'Hide' : 'Show'}} toolbar
        </md-tooltip>
      </md-button> -->
    </div>

</md-toolbar>