<md-button
	class="icon-button {{ ::class }}"
	ng-click="onClick()"
	ng-class="{ 'active': active }"
	aria-label="{{ ::label }}">
  <ng-md-icon
  	icon="{{ active ? icon[0] || icon : icon[1] || icon }}"
  	style="fill: currentColor;">
  </ng-md-icon>
  <md-tooltip md-direction="bottom" md-autohide ng-if="tooltip && !(mc.mobile||!$root.appSettings.USER._SHOW_TOOLTIPS.val)">
    {{ active ? (tooltip[0] || tooltip) : (tooltip[1] || tooltip) }}
  </md-tooltip>
	<span ng-if="::(!tooltip)">{{ ::label }}</span>
</md-button>