drilldown-menu {
	box-sizing: border-box;
	display: flex;
	margin: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	flex-direction: column;
}

md-content.drilldown-menu {
	background: transparent;
}

.drilldown-item {
	cursor: pointer;
	outline: 0;
	transition: all 0.6s;
	background-color: rgba(white, 0.8);
	&:not(:last-child, .flex-0, .is-active) {
		border-bottom: solid 2px #ededed;
	}
	&.is-active .drilldown-item:first-child {
		border-top: solid 2px $uoitlightblue;
	}
	position: relative;
	overflow: hidden;
	&:not(.is-active):after {
		@include cover(absolute);
		transition: all 0.6s;
		content: '';
	}
	&:not(.is-active):hover:after {
		background-color: rgba($uoitlightblue, 0.15);
	}
	.ng-enter {
  	animation: fadeInUp 0.9s;
	}
	.ng-leave {
  	animation: fadeOutDown 0.9s;
	}
}

drilldown-content {
	font-family: $franklin_gothic_condensed;
	text-transform: uppercase;
	color: $uoitdarkblue;
	text-align: left;
	position: relative;
	width: 100%;
	&.ng-enter {
		animation: fadeInDown 0.6s;
	}
	&.ng-leave {
		animation: fadeOutUp 0.6s;
	}
	&:hover > span {
		color: $uoitlightblue;
	}
	span {
		transition: 0.6s ease;
		&.md-display-2 {
			color: rgba($uoitdarkblue, 0.8);
			font-size: calc( 16px + (48 - 16) * (100vw - 568px) / (1920 - 568) );
		}
	}
	.image-box {
		display: block;
		position: absolute;
		margin-left: -16px;
		// margin-top: -16px;
		// height:400px;
		width: calc(100% + 54px);
		img {
			@include cover(relative, false);
			z-index: 100;
			display: block;
			min-width:100%;
			opacity: 0.5;
		}
		&:after {
			@include cover(absolute);
			z-index: 101;
			content: '';
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
		}
	}
	md-content {
		height: 100%;
			z-index: 	1000;
			background: transparent;
	}
}

.open-indicator {
	position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: calc(100% - 16px);
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    right: 16px;
    width: 10px;
    height: 1px;
    background-color: $v-pane-icon-color;
    transform-origin: 50% 50%;
    will-change: transform;
    transition: all $v-pane-hover-animation-duration;
  }
  &::before {
    transform: rotate(-90deg);
  }
}
&.is-active > drilldown-content .open-indicator {
  &::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  &::before {
    transform: rotate(0deg);
  }
}

.poi-item {
		transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	&:hover {
		background-color: rgba(158,158,158,0.2);
		cursor: default;
	}
}