<ng-switch on="$ctrl.nextLevel == 'scene'">

	<div ng-switch-when="false" style="padding-right: 30px;">
		<span class="{{ $ctrl.item.active ? 'md-caption' : 'md-headline' }}">
			{{ ::$ctrl.item.label || $ctrl.item.name }}
		</span>
		<div class="open-indicator"></div>
	</div>

	<div ng-switch-when="true" layout="column" layout-fill>
		<div class="image-box"><img ng-src="api/panoramas/{{ $ctrl.item.sky.split('_').join('/') }}.jpg?thumb" /></div>
		
		<md-content layout="column" layout-fill layout-padding>
			<span class="md-display-2">Points of interest</span>

		</md-content>
	</div>

</ng-switch>
<!-- <div style="text-align: center;">
	<ng-md-icon icon="{{ item.active ? 'expand_less' : 'expand_more' }}" style="fill: #ffffff;"></ng-md-icon>
</div> -->

<!-- <md-divider/>
<div class="md-caption" layout="row" layout-wrap flex>
	<div flex="30">
		<small>level:</small> <strong>{{ ::level }}</strong><br/>
	</div>
	<div flex="70">
		<small>active:</small> <strong>{{ item.active }}</strong>
		|
		<small>hidden:</small> <strong>{{ item.hidden }}</strong>
	</div>
	<div flex="100">
		<strong><small>MODEL:</small></strong>
		<br/><pre style="font-size: 8px">{{ item | dropOffTheKids:false | json }}</pre>
	</div> 
</div> -->