.drilldown-menu, drilldown-menu {
	background: radial-gradient(ellipse at center, hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,0.7) 100%);
  min-height: 100%;
  .drilldown-menu, drilldown-menu {
  	background: transparent;
  }
}

.drilldown-menu, drilldown-menu, drilldown-menu ui-view {
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  z-index: 1;
}

.drilldown-item {
	position:relative;
	cursor: pointer;
	outline: 0;
	transition: all 0.6s;
	background-color: rgba(white, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
		overflow: hidden;
	&:not(:last-child, .is-active, .is-hidden) {
		border-bottom: solid 2px #ededed;
	}
	&.is-active .drilldown-item:first-child {
		border-top: solid 2px $uoitlightblue;
	}
	&:not(.is-active) {
		&::after {
			@include cover(absolute);
			transition: all 0.6s;
			content: '';
		}
		&:hover::after {
			background-color: rgba($uoitlightblue, 0.15);
		}
	}
	&.is-active {
    flex: 1 0 auto;
	}
	&.is-hidden {
    flex: 0;
	}
	ui-view {
		width: 100%;
		overflow: hidden;
		.ng-leave {
			position: absolute;
			height: 0;
		  flex: 0 0 auto;
	    transition: 0.6s;
		}
	}
}

.drilldown-content {
	font-family: $franklin_gothic_condensed;
	text-transform: uppercase;
	color: $uoitdarkblue;
	text-align: left;
	padding: 0.75rem 1rem;
	user-select: none;
	&.ng-enter {
		animation: fadeInUp;
	}
	&:hover {
		color: $uoitlightblue;
	}
	&.selected {
		color: $uoitlightblue;
		text-shadow: 0 0 25px rgba(0, 119, 202, 0.5);
	}
	// .image-box {
	// 	display: block;
	// 	position: absolute;
	// 	margin-left: -27px;
	// 	// margin-top: -16px;
	// 	// height:400px;
	// 	width: calc(100% + 54px);
	// 	img {
	// 		@include cover(relative, false);
	// 		z-index: 100;
	// 		display: block;
	// 		min-width:100%;
	// 		opacity: 0.5;
	// 	}
	// 	&:after {
	// 		@include cover(absolute);
	// 		z-index: 101;
	// 		content: '';
	// 		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
	// 	}
	// }
	md-content {
		height: 100%;
		z-index: 	1000;
		background: transparent;
	}
}

.open-indicator {
	position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: calc(100% - 16px);
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    right: 16px;
    width: 10px;
    height: 1px;
    background-color: $v-pane-icon-color;
    transform-origin: 50% 50%;
    will-change: transform;
    transition: all $v-pane-hover-animation-duration;
  }
  &::before {
    transform: rotate(-90deg);
  }
}

&.is-active > drilldown-content .open-indicator {
  &::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  &::before {
    transform: rotate(0deg);
  }
}