<md-dialog aria-label="Welcome to the UOIT Virtual Tour" class="welcome-dialog">
	<form>
		<!-- TOOLBAR / TITLE / CLOSE BUTTON -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>UOIT Virtual Tour</h2>
				<span flex></span>
				<md-button ng-if="!$ctrl.currentTips" class="md-icon-button" ng-click="$ctrl.cancel()" aria-label="Close this window">
					<ng-md-icon
						icon="close"
						style="fill: white;">
					</ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<!-- INCLUDE: ACTIVE TIP DISPLAY -->
		<md-dialog-content ng-if="$ctrl.currentTips" ng-include="'popup/welcome/_welcome-dialog-tips.html'" scope="this" onload=""></md-dialog-content>
		<!-- STANDARD: WELCOME TABS DISPLAY -->
		<md-dialog-content ng-if="!$ctrl.currentTips">
			<md-tabs
				md-dynamic-height
				md-border-bottom
				md-center-tabs>
				<!-- WELCOME -->
				<md-tab label="Welcome">
					<md-content class="md-padding">
						<ng-md-icon
							class="dialog-icon compass-icon"
							icon="explore"
							size="90"
							style="fill: #0077CA;">
						</ng-md-icon>
						<h2 class="md-display-2">Welcome to the Virtual Tour!</h2>
						<p class="md-headline">Experience an immersive 3D visit to the University of Ontario Institute of Technology.</p>
						<p class="md-headline">Use the tabs above to learn more about how to use the Virtual Tour, or just dive in!<br/>You'll learn quickly.</p>
					</md-content>
				</md-tab>
				<!-- USAGE TIPS -->
				<md-tab label="Usage tips">
					<md-content class="md-padding" layout="column">
						<div>
							<ng-md-icon
								class="dialog-icon tips-icon"
								icon="live_help"
								size="90"
								style="fill: #0077CA;">
							</ng-md-icon>
							<h2><span class="md-display-2">Tips</span><br/><span class="md-headline">for better usage</span></h2>
						</div>
						<div layout="row">
							<md-list flex>
								<md-subheader class="md-no-sticky">First steps</md-subheader>
								<md-divider ></md-divider>
								<md-list-item class="md-2-line md-long-text" ng-repeat="tips in ::$ctrl.welcomeTipsList[0]" ng-click="$ctrl.viewTip(tips.link)" layout="row">
									<ng-md-icon icon="{{ ::tips.icon }}" size="24" style="fill: #0077CA;"></ng-md-icon>
									<div class="md-list-item-text" layout="column">
										<h3>{{ ::tips.title }}</h3>
										<p>{{ ::tips.desc }}</p>
									</div>
								</md-list-item>
							</md-list>
							<md-list flex>
								<md-subheader class="md-no-sticky">Digging deeper</md-subheader>
								<md-divider ></md-divider>
								<md-list-item class="md-2-line md-long-text" ng-repeat="tips in ::$ctrl.welcomeTipsList[1]" ng-click="$ctrl.viewTip(tips.link)" layout="row">
									<ng-md-icon icon="{{ ::tips.icon }}" size="24" style="fill: #0077CA;"></ng-md-icon>
									<div class="md-list-item-text" layout="column">
										<h3>{{ ::tips.title }}</h3>
										<p>{{ ::tips.desc }}</p>
									</div>
								</md-list-item>
							</md-list>
						</div>
					</md-content>
				</md-tab>
				<!-- ACCESSIBILITY -->
				<md-tab label="Accessibility">
					<md-content class="md-padding" layout="column">
						<div>
							<ng-md-icon
								class="dialog-icon access-icon"
								icon="accessibility"
								size="90"
								style="fill: #0077CA;">
							</ng-md-icon>
							<h2><span class="md-display-2">Accessibility</span><br/><span class="md-headline">information</span></h2>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-dialog-content>
		<!-- TIP DISPLAY PREV/NEXT BUTTONS -->
		<md-dialog-actions ng-if="$ctrl.currentTips" layout layout-align="space-between center">
			<md-button class="md-primary" ng-click="$ctrl.prevTip()">« Previous</md-button>
			<md-button class="md-primary" ng-click="$ctrl.nextTip()">Next »</md-button>
		</md-dialog-actions>
		<!-- WELCOME TOUR/DISMISSAL -->
		<md-dialog-actions layout="row" class="footer-pane" ng-if="!$ctrl.currentTips">
			<md-checkbox class="md-primary" aria-label="Permanently dismiss this dialog" md-autofocus ng-model="$ctrl.showWelcome" ng-true-value="false" ng-false-value="true" ng-change="$ctrl.syncSettings()">
				<strong>Don't show me this again</strong>
			</md-checkbox>
			<span flex></span>
			<md-button class="md-raised md-primary" ng-click="$ctrl.startTour()">
				Take an interactive tour
			</md-button>
			<md-button class="md-primary" ng-click="$ctrl.hide()" style="margin-right:20px;" >
				No thanks
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>