<md-dialog aria-label="Welcome to the UOIT Virtual Tour" class="welcome-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">

        <h2>UOIT Virtual Tour</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        	<ng-md-icon
				  	icon="close"
				  	style="fill: white;">
				  </ng-md-icon>
        </md-button>

      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs
      	md-dynamic-height
      	md-border-bottom
      	md-center-tabs>
      	<!-- md-stretch-tabs="always" -->

        <md-tab label="Welcome">
          <md-content class="md-padding">

	        	<ng-md-icon
	        		class="dialog-icon compass-icon"
					  	icon="explore"
					  	size="90"
					  	style="fill: #0077CA;">
					  </ng-md-icon>
            <h2 class="md-display-2">Welcome to the Virtual Tour!</h2>
            <p class="md-headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate.</p>

          </md-content>
        </md-tab>

        <md-tab label="Usage tips">
          <md-content class="md-padding" layout="column">
	          <div>
		        	<ng-md-icon
		        		class="dialog-icon tips-icon"
						  	icon="live_help"
						  	size="90"
						  	style="fill: #0077CA;">
						  </ng-md-icon>
	            <h2><span class="md-display-2">Tips</span><br/><span class="md-headline">for better usage</span></h2>
            </div>
            <div layout="row">

            	<md-list flex>
				        <md-subheader class="md-no-sticky">First steps</md-subheader>
				        <md-divider ></md-divider>
				        <md-list-item class="md-2-line md-long-text" ng-click="null" layout="row">
					        <ng-md-icon icon="my_location" size="24" style="fill: #0077CA;"></ng-md-icon>
				          <div class="md-list-item-text" layout="column">
				            <h3>Tour navigation</h3>
				            <p>Learn how to use warp arrows, map view and the location menu to move from scene to scene.</p>
				          </div>
				        </md-list-item>
				        <md-list-item class="md-2-line md-long-text" ng-click="null">
					        <ng-md-icon icon="place" size="24" style="fill: #0077CA;"></ng-md-icon>
				          <div class="md-list-item-text" layout="column">
				            <h3>Points of interest</h3>
				            <p>See which tour elements offer interactivity and how to use them.</p>
				          </div>
				        </md-list-item>
				      </md-list>

            	<md-list flex>
				        <md-subheader class="md-no-sticky">Digging deeper</md-subheader>
				        <md-divider ></md-divider>
				        <md-list-item class="md-2-line md-long-text" ng-click="null">
					        <ng-md-icon icon="3d_rotation" size="24" style="fill: #0077CA;"></ng-md-icon>
				          <div class="md-list-item-text" layout="column">
				            <h3>Virtual reality</h3>
				            <p>Experience the UOIT virtual tour immersively with an Oculus© Rift.</p>
				          </div>
				        </md-list-item>
				        <md-list-item class="md-2-line md-long-text" ng-click="null" layout="row">
					        <ng-md-icon icon="screen_rotation" size="24" style="fill: #0077CA;"></ng-md-icon>
				          <div class="md-list-item-text" layout="column">
				            <h3>Mobile VR</h3>
				            <p>Turn your smartphone into a portal to UOIT with a mobile VR peripheral like HTC Vive, Samsung Gear or Google Cardboard.</p>
				          </div>
				        </md-list-item>
				        <md-list-item class="md-2-line md-long-text" ng-click="null" layout="row">
					        <ng-md-icon icon="settings" size="24" style="fill: #0077CA;"></ng-md-icon>
				          <div class="md-list-item-text" layout="column">
				            <h3>Customization</h3>
				            <p>Learn about the options available for fine-tuning the virtual tour interface.</p>
				          </div>
				        </md-list-item>
				      </md-list>

			      </div>

          </md-content>
        </md-tab>

        <md-tab label="Accessibility">
          <md-content class="md-padding" layout="column">
	          <div>
		        	<ng-md-icon
		        		class="dialog-icon access-icon"
						  	icon="accessibility"
						  	size="90"
						  	style="fill: #0077CA;">
						  </ng-md-icon>
		          <h2><span class="md-display-2">Accessibility</span><br/><span class="md-headline">information</span></h2>
	          </div>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="footer-pane">
    	<md-checkbox class="md-primary" aria-label="Permanently dismiss this dialog" md-autofocus>
        <strong>Don't show me this again</strong>
      </md-checkbox>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="answer('startTour')">
        Take an interactive tour
      </md-button>
      <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;" >
        No thanks
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>