@keyframes spinner {
  from {
    transform: translate3d(0,0,0) rotateY(0deg);
  }
  to {
    transform: translate3d(0,0,0) rotateY(-360deg);
  }
}

@keyframes delaybounce {
  from, 10%, 26.5%, 40%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  20%, 21.5% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  35% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  45% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }

  50% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.welcome-dialog {
	max-width:960px;
	max-height:100%;
	text-align: center;
	.dialog-icon {
		width: 90px;
		height: 90px;
		margin: 2rem 0 0.5rem 0;
		opacity: 0.5;
		&.compass-icon {
	    perspective: 200px;
	    svg {
		    animation-name: spinner;
		    animation-timing-function: ease-in-out;
		    animation-iteration-count: infinite;
		    animation-duration: 6s;
	    }
	  }
		&.tips-icon {
		    animation-iteration-count: infinite;
		    animation-duration: 2s;
		    animation-name: delaybounce;
	  }
	}
	md-content h1, md-content h2 {
		color: $uoitdarkblue;
	}
	.footer-pane {
		padding-top: 3rem;
	}
	md-list {
		text-align: left;
	}
}