/* - - - - - - - - - - - - - - - - - - - - - - - - -

  TABLE OF CONTENTS
  
  1. Global colours
  2. Fonts (includes icons)
  3. Sidebar
  4. Mixins and functions

- - - - - - - - - - - - - - - - - - - - - - - - - */


// 1. Global colours
// - - - - - - - - - - - - - - - - - - - - - - - - -
 
$uoitlightblue : #0077ca;
$uoitdarkblue  : #003c71;
$uoitgrey      : #53565a;
$uoitgreylight : scale-color($uoitgrey, $lightness: 95%);
$uoitgreymedium: scale-color($uoitgrey, $lightness: 90%);
$uoitgreydark  : scale-color($uoitgrey, $lightness: -40%);

$uoitpink			 : #c71566;
$uoitgreen		 : #1a875c;
$uoitorange		 : #ce4825;

$uoitdcgrey		 : #414042;

// Faculty colours also need to be set in individual faculty main scss file for global overrides
$fbit          : #00558C;
$fed           : #4F758B;
$fesns         : #6F263D;
$feas          : #5F259F;
$fhs           : #AF272F;
$fsci          : #007749;
$fssh          : #BE4D00;
$grad				 	 : #000000;
$red					 : #a40b0b;
$emergency     : #a40b0b;

.uoitlightblue, .uoit-blue-light { color: $uoitlightblue; }
.uoitdarkblue, .uoit-blue-dark { color: $uoitdarkblue; }
.uoitgrey, .uoit-grey { color: $uoitgrey; }
.uoitgreylight, .uoit-grey-light { color: $uoitgreylight; }
.fbit		{ color: $fbit; }
.fed 		{ color: $fed; }
.fesns	{ color: $fesns; }
.feas		{ color: $feas; }
.fhs		{ color: $fhs; }
.fsci		{ color: $fsci; }
.fssh		{ color: $fssh; }
.grad		{ color: $grad; }



// 2. Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Franklin Gothic Book
@font-face {
  font-family: 'Franklin Gothic';
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.eot');
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.woff2') format('woff2'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.woff') format('woff'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.ttf') format('truetype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_book_macroman/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');  
  font-weight: 400;
  font-style: normal;     
}
// $franklin_gothic_fsbook: "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;


// Franklin Gothic Medium
@font-face {
    font-family: 'Franklin Gothic';
    src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.eot');
    src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.woff2') format('woff2'),
         url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.woff') format('woff'),
         url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.ttf') format('truetype'),
         url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_medium_macroman/FranklinGothic-Med-webfont.svg#franklin_gothic_fsmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


// Franklin Gothic Demi
@font-face {
  font-family: 'Franklin Gothic';
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.eot');
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.woff2') format('woff2'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.woff') format('woff'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.ttf') format('truetype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_demi_macroman/FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
  font-weight: 700;
  font-style: normal;
}
// $franklin_gothic_fsdemi: "franklin_gothic_fsdemi", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;


// Franklin Gothic Condensed
@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.eot');
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.woff2') format('woff2'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.woff') format('woff'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.ttf') format('truetype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_condensed_macroman/FranklinGothic-Cd-webfont.svg#franklin_gothic_fscondensed') format('svg');
  font-weight: 400;
  font-style: normal;
}
// $franklin_gothic_fscondensed: "franklin_gothic_fscondensed", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;


// Franklin Gothic Medium Condensed
@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.eot');
  src: url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.woff2') format('woff2'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.woff') format('woff'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.ttf') format('truetype'),
       url('https://shared.uoit.ca/global/files/fonts/franklingothicfs_mediumcondensed_macroman/FranklinGothic-MedCd-webfont.svg#franklin_gothic_fsMdCn') format('svg');
  font-weight: 500;
  font-style: normal;
}
// $franklin_gothic_fsMdCn: "franklin_gothic_fsMdCn", "franklin_gothic_fscondensed", "franklin_gothic_fsbook", Arial, Helvetica, sans-serif;


// Icon font - generated on uoit_icons
@font-face {
  font-family: 'uoit_icons';
  src: url('https://shared.uoit.ca/global/files/fonts/uoit_icons/uoit_icons.eot'); //55309185
  src: url('https://shared.uoit.ca/global/files/fonts/uoit_icons/uoit_icons.eot#iefix') format('embedded-opentype'),
       url('https://shared.uoit.ca/global/files/fonts/uoit_icons/uoit_icons.woff') format('woff'),
       url('https://shared.uoit.ca/global/files/fonts/uoit_icons/uoit_icons.ttf') format('truetype'),
       url('https://shared.uoit.ca/global/files/fonts/uoit_icons/uoit_icons.svg#uoit_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$franklin_gothic: "Franklin Gothic", Arial, Helvetica, sans-serif;
$franklin_gothic_demi: "Franklin Gothic Demi", 'Franklin Gothic', Arial, Helvetica, sans-serif;
$franklin_gothic_condensed: "Franklin Gothic Condensed", 'Franklin Gothic', Arial, Helvetica, sans-serif;
$uoit_icons: "uoit_icons";

$font-family: $franklin_gothic;
$font-family-display: $franklin_gothic_condensed;
$font-family-bold: $franklin_gothic_demi;

.md-display-4,
.md-display-3,
.md-display-2,
.md-display-1,
.md-title {
	font-weight: normal !important;
	text-transform: uppercase;
	font-family: $font-family-display;
}

.demi {
	font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
	text-align: right;
}
.text-center {
  text-align: center;
}

// 3. Sidebar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$sidebar_nav_top_level_color: $uoitdarkblue;
$sidebar_nav_secondary_level_color: #757575;
$sidebar_nav_active_color: $uoitlightblue;
$sidebar_border_color: scale-color($uoitgrey, $lightness: 90%);
//$sidebar_border_color: scale-color($uoitgrey, $alpha: -90%);
$sidebar_bg_radial_hard: radial-gradient(ellipse at center, hsla(0,0%,100%,0.4) 0%,hsla(0,0%,100%,0.8) 100%);
$sidebar_bg_radial_soft: radial-gradient(ellipse at center, hsla(0,0%,100%,0) 0%,hsla(0,0%,100%,0.7) 100%);


kbd {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	color: #333;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	text-shadow: 0 1px 0 #fff;
}

@import '~angular-material/modules/scss/angular-material';
@import '~angular-resizable/src/angular-resizable';
@import '~angular-loading-bar/src/loading-bar';
@import '~nz-tour/dist/nz-tour';
@import '~ng-wig/src/css/ng-wig';

@import 'icons';

.float-right {
	float: right;
}

.badge {
	font-size: 10px;
}

.md-track-ticks canvas {
	left: 0;
}

.md-button, .md-tab {
  font-weight: 700;
}

.md-input-invalid::after {
	position: absolute;
	color: rgb(221,44,0);
	content: 'Invalid!';
	font-family: $font-family;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	bottom: 18px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(0%)
  }
}


@keyframes slideOutRight {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(100%)
  }
}
