<a-entity
	ng-attr-position="{{ hotSpot.position.join(' ') }}" look-at="[camera]">
	<a-torus 
		arc="360"
		radius="0.25"
		radius-tubular="0.015"
		segments-tubular="32"
		rotation="0 0 0"
		mixin="mixin-blue"
		shader="flat"
		event-set__1="_event: mouseenter; material.opacity: 0.6; material.color: #C71566;"
		event-set__2="_event: mouseleave; material.opacity: 0.85; material.color: #0077CA;">
		<a-animation
			attribute="rotation"
			from="0 0 0"
			to="0 360 0"
			repeat="indefinite"
			direction="alternate"
			dur="2000">
		</a-animation>
		<a-entity
			position="-0.025 -0.165 -0.01"
			scale="0.6 0.6 0.6"
			text="text:i"
			material="shader: flat;color:#0077CA;"
			event-set__1="_event: mouseenter; material.opacity: 0.6; material.color: #C71566;"
			event-set__2="_event: mouseleave; material.opacity: 0.85; material.color: #0077CA;">
		</a-entity>
		<a-entity 
			ng-attr-id="hotSpot_{{ ::hotSpot._id }}"
			scale="0.5 0.5 0.5"
			visible="false"
			event-set__1="_event: mouseenter; visible: true;"
			event-set__2="_event: mouseleave; visible: false;">
			<a-sphere radius="0.6"  mixin="mixin-glow">
				<a-animation
					attribute="scale"
					from="0.9 0.9 0.9"
					to="1.25 1.25 1.25"
					repeat="indefinite"
					direction="alternate"
					dur="1500">
				</a-animation>
			</a-sphere>
			<a-sphere radius="0.6" mixin="mixin-glow">
				<a-animation
					attribute="scale"
					from="1 1 1"
					to="1.5 1.5 1.5"
					repeat="indefinite"
					direction="alternate"
					dur="1500">
				</a-animation>
			</a-sphere>
		</a-entity>
		<a-animation attribute="scale" begin="goto" dur="100" to="0 0 0"></a-animation>
	</a-torus>
</a-entity>