<a-scene id="aframe-scene">
	<a-assets>
		<a-asset-item id="arrow" src="images/arrow.dae"></a-asset-item>
		<aframe-entity
			asset="true"
			ng-repeat="asset in assets track by ('asset_' + asset.type + $index)"
			ng-if="asset"
			type="{{asset.type}}"
			attrs="asset.attrs"
			entities="asset.entities">
			</aframe-entity>
	</a-assets>
		<aframe-entity
			ng-repeat="entity in entities track by ('entity_' + entity.type + $index)"
			ng-if="entity"
			type="{{entity.type}}"
			attrs="entity.attrs"
			entities="entity.entities">
		</aframe-entity>
		<aframe-entity
			ng-repeat="marker in markers track by ('marker_' + $index)"
			ng-if="marker"
			type="{{marker.type}}"
			attrs="marker.attrs">
		</aframe-entity>
</a-scene>