<a-scene id="aframe-scene"> <!-- stats -->
	<a-assets>

		<!-- SCENE LINK ARROW ASSET -->
		<!-- <a-asset-item id="arrow" src="images/arrow-blue.dae"></a-asset-item> -->
		<!-- <img src="https://shared.uoit.ca/global/files/img/logos/UOIT_RGB.jpg" id="uoit-logo-asset"> -->

		<!-- GENERIC ASSETS -->
		<aframe-entity
			asset="true"
			ng-repeat="asset in scene.assets track by ('asset_' + asset._id)"
			ng-if="asset"
			type="{{asset.type}}"
			attrs="asset.attrs"
			entities="asset.entities">
		</aframe-entity>

	</a-assets>

		<!-- CAMERA ENTITY -->
		<a-entity position="0 1.8 0">
			<a-entity
				camera
				mouse-cursor
				reverse-look-controls
				wasd-controls="enabled:false;"
				look-controls="enabled:false;">
				<!-- VR CURSOR -->
<!-- 				<a-cursor
					color="white"
					raycaster="interval: 1000; recursive: true; objects: .scene-link">
				</a-cursor> -->
			</a-entity>
		</a-entity>
		
		<!-- GENERIC ENTITIES -->
		<aframe-entity
			ng-repeat="entity in scene.entities track by ('entity_' + entity._id)"
			ng-if="entity"
			type="{{entity.type}}"
			attrs="entity.attrs"
			entities="entity.entities">
		</aframe-entity>
		
		<!-- SCENE LINKS -->
		<a-entity
			ng-repeat="link in scene.sceneLinks track by link._id"
			class="scene-link"
			scene-link="link.scene"
			ng-attr-id="{{ ::link._id }}"
			ng-attr-position="{{ link.position.join(' ') }}"
			ng-attr-rotation="{{ link.rotation.join(' ') }}"
			event-set__1="_event: mouseenter; scale: 1.05 1.1 1.05;"
			event-set__2="_event: mouseleave; scale: 1 1 1;">
		</a-entity>
		<!-- SCENE LINKS -->
		<a-entity
			ng-repeat="hotspot in scene.hotSpots track by hotspot._id"
			class="scene-link"
			hot-spot="hotspot"
			ng-attr-position="{{ hotspot.position.join(' ') }}" look-at="[camera]">
			<a-torus 
				arc="360"
				radius="0.25"
				radius-tubular="0.015"
				segments-tubular="32"
				rotation="0 0 0"
				material="shader: flat; color: #0077CA;">
				<a-animation
					attribute="rotation"
					from="0 0 0"
					to="0 360 0"
					repeat="indefinite"
					direction="alternate"
					dur="2000">
				</a-animation>
				<a-entity
					position="-0.025 -0.165 -0.01"
					scale="0.6 0.6 0.6"
					text="text:i"
					material="shader: flat; color: #0077CA;">
				</a-entity>
			</a-torus>
			<a-entity 
				ng-attr-id="hotspot_{{ ::hotspot._id }}"
				scale="0.5 0.5 0.5"
				visible="false"
				event-set__1="_event: mouseenter; visible: true;"
				event-set__2="_event: mouseleave; visible: false;">
				<a-sphere radius="0.6" material="color:#C71566;shader:flat;opacity:0.2;transparent:true;">
					<a-animation
						attribute="scale"
						from="0.9 0.9 0.9"
						to="1.25 1.25 1.25"
						repeat="indefinite"
						direction="alternate"
						dur="1500">
					</a-animation>
				</a-sphere>
				<a-sphere radius="0.6" material="color:#C71566;shader:flat;opacity:0.15;">
					<a-animation
						attribute="scale"
						from="1 1 1"
						to="1.5 1.5 1.5"
						repeat="indefinite"
						direction="alternate"
						dur="1500">
					</a-animation>
				</a-sphere>
			</a-entity>
		</a-entity>


</a-scene>