.scene-container {
	height: 100%;
}

.scene-view {
	transition: filter 0.15s;//, transform 0.15s;
  background-image: url('../images/plnsk_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  @include cover(absolute);
  aframe-scene {
  	position: relative;
  }
  a-scene, aframe-scene {	
    width: 100%;
    height: 100%;
  }
  ng-transclude {	
  	position: absolute;
  	top: 68px;
  	left: 0;
  	width: 100%;
  	z-index: 50
  }
  &.blur-active{
  	// transform: scale(1.1);
  	filter: blur(20px);
  }
}

.scene-select {
	li {
		height: auto;
	}
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
	z-index: 1000;
}

.md-fab-action-item .fab-divider {
	display: block;
	width: 1px;
	height: 40px;
	content: '';
	background-color: rgba(white, 0.4);
	margin: 0 16px;
}