@keyframes flexIn {
  from {
    flex: 1 1 0;
    min-height: 0;
  }

  to {
    flex: 1 1 100%;
    min-height: 50%;
  }
}

@keyframes flexOut {
  from {
    flex: 1 1 100%;
    min-height: 50%;
  }

  to {
    flex: 1 1 0;
    min-height: 0;
  }
}

.location-card {
	transition: 0.6s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
	overflow: hidden;
	position: relative;
	&.location-north {
		background-image: url('../images/north_bg.jpg');
	}
	&.location-dt {
		background-image: url('../images/dt_bg.jpg');
	}
	&::before {
		@include cover(absolute);
		content: '';
		z-index: 0;
		background-color: rgba(white, 0.6);
		background-image: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 60%),
											linear-gradient(to top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 40%);

	}
	h2 {
		padding: 1rem;
		text-align: left;
		position: relative;
		z-index: 1;
	}
	md-content {
		transition: 1s ease;
	}
  .ng-enter {
    animation: slideInUp 0.6s;
  }
  .ng-leave {
    animation: slideOutDown 0.6s;
  }
  &.ng-enter {
    animation: flexIn 0.8s ease;
  }
  &.ng-leave {
    animation: flexOut 0.8s cubic-bezier(1,-1,.5,1);
  }
}

.building-list {
	background-color: transparent;
	md-list {
		background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
}

.location-detail {
  md-toolbar {
    background-size: cover;
    overflow: hidden;
    h2 {
      color: $uoitlightblue;
      font-size: 1.5rem;
    }
  }
}