<ng-transclude ng-transclude-slot="editor"></ng-transclude>

<a-scene id="aframe-scene" ng-transclude-slot="sky"> <!-- stats -->
	
	<!-- ASSET CACHE -->
	<a-assets>
		<a-mixin id="mixin-blue" material="color: #0077CA;opacity: 0.85; transparent: true;"></a-mixin>
		<a-mixin id="mixin-glow" material="color:white;shader:flat;opacity:0.1;transparent: true;"></a-mixin>
	</a-assets>

	<!-- SKY -->
	<aframe-sky sky="$ctrl.sky"></aframe-sky>

	<!-- LIGHT -->
	<a-light type="ambient" color="#BBB""></a-light>
	<a-light type="directional" color="#FFF" intensity="0.6" position="-0.5 1 1"></a-light>

	<!-- CAMERA ENTITY -->
	<a-entity position="0 1.8 0">
		<a-entity
			camera
			id="aframe-camera"
			mouse-cursor
			drag-look-controls
			wasd-controls="enabled: false;"
			look-controls="enabled: false;">
			<!-- VR CURSOR -->
			<!-- <a-cursor></a-cursor> -->
		</a-entity>
	</a-entity>
	
	<!-- GENERIC ENTITIES -->
	<aframe-entity ng-model="entity" ng-repeat="entity in $ctrl.entities track by entity._id"></aframe-entity>

	<!-- SCENE LINKS -->
	<a-entity
		ng-repeat="sceneLink in $ctrl.sceneLinks track by sceneLink._id"
		class="scene-link"
		scene-link="sceneLink">
	</a-entity>

	<!-- HOTSPOTS -->
	<a-entity
		ng-repeat="hotSpot in $ctrl.hotSpots track by hotSpot._id"
		class="hot-spot"
		hot-spot="hotSpot">
	</a-entity>

</a-scene>