<ng-transclude ng-transclude-slot="editor"></ng-transclude>

<a-scene id="aframe-scene" ng-transclude-slot="sky"> <!-- stats -->
	
	<!-- ASSET CACHE -->
	<a-assets>
		<a-mixin id="mixin-blue" material="color: #0077CA;opacity: 0.85; transparent: true;"></a-mixin>
		<a-mixin id="mixin-glow" material="color:white;shader:flat;opacity:0.1;transparent: true;"></a-mixin>
	</a-assets>

	<!-- SKY -->
	<aframe-sky sky="$ctrl.sky"></aframe-sky>

	<!-- LIGHT -->
	<a-light type="ambient" color="#BBB""></a-light>
	<a-light type="directional" color="#FFF" intensity="0.6" position="-0.5 1 1"></a-light>

	<!-- CAMERA ENTITY -->
	<a-entity position="0 1.8 0">
		<a-entity
			camera
			id="aframe-camera"
			mouse-cursor
			drag-look-controls
			wasd-controls="enabled: false;"
			look-controls="enabled: false;">
			<!-- VR CURSOR -->
			<!-- <a-cursor></a-cursor> -->
		</a-entity>
	</a-entity>
	
	<!-- GENERIC ENTITIES -->
	<aframe-entity ng-model="entity" ng-repeat="entity in $ctrl.entities track by entity._id"></aframe-entity>

	<!-- SCENE LINKS -->
	<a-entity ng-repeat="sceneLink in $ctrl.sceneLinks track by sceneLink._id"
						ng-attr-position="{{ sceneLink.position.join(' ') }}"
						ng-attr-rotation="{{ sceneLink.rotation.join(' ') }}">
	  <scene-link ng-attr-id="link_{{ ::sceneLink._id }}"
	              color="#0077CA"
	              hover-animation="scaleFactor:1.1;colorFactor:#c71566;opacityFactor:0.7"
	              ui-sref="scene({ location: sceneLink.scene.parent.parent.code, building: sceneLink.scene.parent.code, scene: sceneLink.scene.code })">
		  <a-animation attribute="rotation" begin="click" dur="500" to="360 0 0"></a-animation>
			<a-animation attribute="scale" begin="click" dur="500" to="0 0 0"></a-animation>
			<a-entity geometry="primitive: plane; width: 2; height: 1"
							  rotation="90 90 0"
							  position="5.25 0 0"
							  material="color:black;opacity:0.6;transparent:true;"
							  text="value: GO TO\n{{sceneLink.scene.parent.name}},\n{{sceneLink.scene.name}} ; align: center;"
		            hover-animation="scaleFactor:10;colorFactor:#000000;opacityFactor:1;"
							  scale="0.1 1 0.1"></a-entity>
	  </scene-link>
	</a-entity>

	<!-- HOTSPOTS -->
	<a-entity
		ng-repeat="hotSpot in $ctrl.hotSpots track by hotSpot._id"
		class="hot-spot"
		hot-spot="hotSpot">
	</a-entity>

</a-scene>