@import '../../../common/common';

.scene-container {
	height: 100%;
}

.scene-view {
	transition: filter 0.15s;//, transform 0.15s;
  @include cover(absolute);
  aframe-scene {
  	position: relative;
  }
  a-scene, aframe-scene {	
    width: 100%;
    height: 100%;
  }
  ng-transclude {	
  	position: absolute;
  	left: 0;
  	z-index: 50;
  	width: 100%;
  }
  @media (min-width: 960px) {
	  ng-transclude {	
	  	top: 68px;
	  	right: 60px;
	  	md-fab-toolbar {
	  		.md-fab-toolbar-wrapper {
		  		padding-right: 123px;
		  		transition: padding-right 0.6s ease;
		  	}
		  	.md-fab-toolbar-content {
		  		position: relative;
		  	}
		  }
	  }
	}
  &.blur-active{
  	// transform: scale(1.1);
  	filter: blur(10px);
  	filter: url(#blur);
  }
}

.toolbar-condensed ng-transclude md-fab-toolbar .md-fab-toolbar-wrapper {
	padding-right: 60px !important;
	transition: padding-right 0.6s cubic-bezier(1,-1,.5,1);
}

.scene-select {
	li {
		height: auto;
	}
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
	z-index: 1000;
}