
<section layout="row" flex style="position: relative;height: calc(100% - 64px);" ng-class="{ 'toolbar-open' : toolbar.isOpen&&!landscapeMobile }">

  <section class="scene-view" ui-view="sceneView">
  </section>

  <ng-include src="'partials/_buttonbar.html'" style="position: relative;height: 100%;"></ng-include>

  <md-sidenav
    class="md-sidenav-right"
    md-component-id="right"
    md-whiteframe="4">
    <div ui-view="sidebarView" class="sidebar-view layout-fill"></div>
  </md-sidenav>
  
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="config"
    md-disable-backdrop
    md-whiteframe="4">
    <ng-include src="'_builder/_config.html'"></ng-include>
  </md-sidenav>

</section>